<link type="text/css" href="css/gr-bootstrap.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
    media="screen" />
{% spaceless %}



<div id="video_page" class="hide gr-col-xs-10 gr-col-sm-10 gr-col-md-5 gr-col-lg-3">



</div>

{% endspaceless %}