
*, :after, :before {
    box-sizing: border-box;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
/* 
nav in global_function Styling Start 
*/
.gr-text-uppercase {
    text-transform: uppercase;
}
.dropdown-menu, .modal-content {
    -webkit-background-clip: padding-box;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* 
nav in global_function Styling End 
*/
.gr-hide {
    display: none!important;
}
.gr-text-right {
    text-align: right;
}

body.gr-content .list-item p {
    font-size: 14px;
    margin: 0!important;
    padding: 0;
}

body.gr-content .gr-container[role=main] {
    min-height: 500px;
}

.gr-container, .gr-container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.gr-container, .gr-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.gr-container-fluid>.navbar-collapse, .gr-container-fluid>.navbar-header, .gr-container>.navbar-collapse, .gr-container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width:768px) {
    .gr-container {
        width: 730px;
    }
    .gr-container-fluid>.navbar-collapse, .gr-container-fluid>.navbar-header, .gr-container>.navbar-collapse, .gr-container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
        border-radius: 0;
    }
    .navbar>.gr-container .navbar-brand, .navbar>.gr-container-fluid .navbar-brand {
        margin-left: -15px;
    }
}
.gr-container .jumbotron, .gr-container-fluid .jumbotron {
    border-radius: 6px;
}
.jumbotron .gr-container {
    max-width: 100%}
@media screen and (min-width:768px) {
    .jumbotron {
        padding: 48px 0;
    }
    .gr-container .jumbotron, .gr-container-fluid .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotron .h1, .jumbotron h1 {
        font-size: 63px;
    }
}
.gr-btn-group-vertical>.gr-btn:not(:first-child):not(:last-child), .gr-btn-group>.gr-btn-group:not(:first-child):not(:last-child)>.gr-btn, .gr-btn-group>.gr-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.gr-btn-group-vertical>.gr-btn.gr-active, .gr-btn-group-vertical>.gr-btn:active, .gr-btn-group-vertical>.gr-btn:focus, .gr-btn-group-vertical>.gr-btn:hover, .gr-btn-group>.gr-btn.gr-active, .gr-btn-group>.gr-btn:active, .gr-btn-group>.gr-btn:focus, .gr-btn-group>.gr-btn:hover, .input-group-btn>.gr-btn:active, .input-group-btn>.gr-btn:focus, .input-group-btn>.gr-btn:hover {
    z-index: 2;
}
.gr-btn-group, .gr-btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.gr-btn-group-vertical>.gr-btn, .gr-btn-group>.gr-btn {
    position: relative;
    float: left;
}
.gr-btn-group .gr-btn+.gr-btn, .gr-btn-group .gr-btn+.gr-btn-group, .gr-btn-group .gr-btn-group+.gr-btn, .gr-btn-group .gr-btn-group+.gr-btn-group {
    margin-left: -1px;
}
.gr-btn-group-vertical>.gr-btn, .gr-btn-group-vertical>.gr-btn-group, .gr-btn-group-vertical>.gr-btn-group>.gr-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%}
.gr-btn-group-vertical>.gr-btn-group>.gr-btn {
    float: none;
}
.gr-btn-group-vertical>.gr-btn+.gr-btn, .gr-btn-group-vertical>.gr-btn+.gr-btn-group, .gr-btn-group-vertical>.gr-btn-group+.gr-btn, .gr-btn-group-vertical>.gr-btn-group+.gr-btn-group {
    margin-top: -1px;
    margin-left: 0;
}
.input-group-btn:last-child>.gr-btn, .input-group-btn:last-child>.gr-btn-group, .input-group-btn>.gr-btn+.gr-btn {
    margin-left: -1px;
}
.gr-btn-group-vertical>.gr-btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.gr-btn-group-vertical>.gr-btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.gr-btn-group-vertical>.gr-btn-group:not(:first-child):not(:last-child)>.gr-btn {
    border-radius: 0;
}
.gr-btn-group-vertical>.gr-btn-group:first-child:not(:last-child)>.gr-btn:last-child, .gr-btn-group-vertical>.gr-btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.gr-btn-group-vertical>.gr-btn-group:last-child:not(:first-child)>.gr-btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.gr-btn-group-vertical>.gr-btn-group:after, .gr-btn-group-vertical>.gr-btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .gr-container-fluid:after, .gr-container-fluid:before, .gr-container:after, .gr-container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .gr-form-horizontal .form-group:after, .gr-form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .gr-panel-body:after, .gr-panel-body:before, .gr-row:after, .gr-row:before {
    display: table;
    content: " "}
.gr-btn-group-vertical>.gr-btn-group:after, .btn-toolbar:after, .clearfix:after, .gr-container-fluid:after, .gr-container:after, .dl-horizontal dd:after, .gr-form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .gr-panel-body:after, .gr-row:after {
    clear: both;
}
.btn-toolbar>.gr-btn, .btn-toolbar>.gr-btn-group, .btn-toolbar>.input-group {
    margin-left: 5px;
}
.gr-btn .caret, .gr-btn-group>.gr-btn:first-child {
    margin-left: 0;
}
.gr-btn-group>.gr-btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.gr-btn-group>.gr-btn:last-child:not(:first-child), .gr-btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.gr-btn-group>.gr-btn-group:first-child:not(:last-child)>.gr-btn:last-child, .gr-btn-group>.gr-btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.gr-btn-group>.gr-btn-group:last-child:not(:first-child)>.gr-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.gr-btn-group .dropdown-toggle:active, .gr-btn-group.open .dropdown-toggle {
    outline: 0;
}
.gr-btn-group>.gr-btn+.dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}
.gr-btn-group>.btn-lg+.dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}
.gr-btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.gr-btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gr-btn-group-justified>.gr-btn-group .gr-btn {
    width: 100%}
.gr-btn-group-justified>.gr-btn-group .dropdown-menu {
    left: auto;
}
[data-toggle=buttons]>.gr-btn input[type=checkbox], [data-toggle=buttons]>.gr-btn input[type=radio], [data-toggle=buttons]>.gr-btn-group>.gr-btn input[type=checkbox], [data-toggle=buttons]>.gr-btn-group>.gr-btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.input-group .gr-form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.gr-btn, .input-group-btn:first-child>.gr-btn-group>.gr-btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.gr-btn-group:not(:last-child)>.gr-btn, .input-group-btn:last-child>.gr-btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .gr-form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.gr-btn-group:not(:first-child)>.gr-btn, .input-group-btn:first-child>.gr-btn:not(:first-child), .input-group-btn:last-child>.gr-btn, .input-group-btn:last-child>.gr-btn-group>.gr-btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn:first-child>.gr-btn, .input-group-btn:first-child>.gr-btn-group {
    margin-right: -1px;
}
.modal-footer .gr-btn-group .gr-btn+.gr-btn {
    margin-left: -1px;
}
.gr-text-center {
    text-align: center;
}

.gr-alert, .thumbnail {
    margin-bottom: 20px;
}
.gr-alert .gr-alert-link, .gr-close {
    font-weight: 700;
}
.gr-alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.gr-alert gr-h4 {
    margin-top: 0;
    color: inherit;
}
.gr-alert>p, .gr-alert>ul {
    margin-bottom: 0;
}
.gr-alert>p+p {
    margin-top: 5px;
}
.gr-text-left {
    text-align: left;
}

/*h3*/

.h1, .h2, .gr-h3, .gr-h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .gr-h3 .small, .gr-h3 small, .gr-h4 .small, .gr-h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}
.h1, .h2, .gr-h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .gr-h3 .small, .gr-h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%
}
.gr-h3, h3 {
    font-size: 24px;
}

/*
Start gr-col (lg, md, sm, xs )
*/

.gr-btn-group>.gr-btn-group, .btn-toolbar .gr-btn-group, .btn-toolbar .input-group, .gr-col-xs-1, .gr-col-xs-10, .gr-col-xs-11, .gr-col-xs-12, .gr-col-xs-2, .gr-col-xs-3, .gr-col-xs-4, .gr-col-xs-5, .gr-col-xs-6, .gr-col-xs-7, .gr-col-xs-8, .gr-col-xs-9, .dropdown-menu {
    float: left;
}
.gr-col-lg-1, .gr-col-lg-10, .gr-col-lg-11, .gr-col-lg-12, .gr-col-lg-2, .gr-col-lg-3, .gr-col-lg-4, .gr-col-lg-5, .gr-col-lg-6, .gr-col-lg-7, .gr-col-lg-8, .gr-col-lg-9, .gr-col-md-1, .gr-col-md-10, .gr-col-md-11, .gr-col-md-12, .gr-col-md-2, .gr-col-md-3, .gr-col-md-4, .gr-col-md-5, .gr-col-md-6, .gr-col-md-7, .gr-col-md-8, .gr-col-md-9, .gr-col-sm-1, .gr-col-sm-10, .gr-col-sm-11, .gr-col-sm-12, .gr-col-sm-2, .gr-col-sm-3, .gr-col-sm-4, .gr-col-sm-5, .gr-col-sm-6, .gr-col-sm-7, .gr-col-sm-8, .gr-col-sm-9, .gr-col-xs-1, .gr-col-xs-10, .gr-col-xs-11, .gr-col-xs-12, .gr-col-xs-2, .gr-col-xs-3, .gr-col-xs-4, .gr-col-xs-5, .gr-col-xs-6, .gr-col-xs-7, .gr-col-xs-8, .gr-col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.gr-col-xs-12 {
    width: 100%}
.gr-col-xs-11 {
    width: 91.66666667%}
.gr-col-xs-10 {
    width: 83.33333333%}
.gr-col-xs-9 {
    width: 75%}
.gr-col-xs-8 {
    width: 66.66666667%}
.gr-col-xs-7 {
    width: 58.33333333%}
.gr-col-xs-6 {
    width: 50%}
.gr-col-xs-5 {
    width: 41.66666667%}
.gr-col-xs-4 {
    width: 33.33333333%}
.gr-col-xs-3 {
    width: 25%}
.gr-col-xs-2 {
    width: 16.66666667%}
.gr-col-xs-1 {
    width: 8.33333333%}

@media (min-width:768px) {
    .gr-col-sm-1, .gr-col-sm-10, .gr-col-sm-11, .gr-col-sm-12, .gr-col-sm-2, .gr-col-sm-3, .gr-col-sm-4, .gr-col-sm-5, .gr-col-sm-6, .gr-col-sm-7, .gr-col-sm-8, .gr-col-sm-9 {
        float: left;
    }
    .gr-col-sm-12 {
        width: 100%}
    .gr-col-sm-11 {
        width: 91.66666667%}
    .gr-col-sm-10 {
        width: 83.33333333%}
    .gr-col-sm-9 {
        width: 75%}
    .gr-col-sm-8 {
        width: 66.66666667%}
    .gr-col-sm-7 {
        width: 58.33333333%}
    .gr-col-sm-6 {
        width: 50%}
    .gr-col-sm-5 {
        width: 41.66666667%}
    .gr-col-sm-4 {
        width: 33.33333333%}
    .gr-col-sm-3 {
        width: 25%}
    .gr-col-sm-2 {
        width: 16.66666667%}
    .gr-col-sm-1 {
        width: 8.33333333%}

    .gr-col-sm-offset-12 {
        margin-left: 100%}
    .gr-col-sm-offset-11 {
        margin-left: 91.66666667%}
    .gr-col-sm-offset-10 {
        margin-left: 83.33333333%}
    .gr-col-sm-offset-9 {
        margin-left: 75%}
    .gr-col-sm-offset-8 {
        margin-left: 66.66666667%}
    .gr-col-sm-offset-7 {
        margin-left: 58.33333333%}
    .gr-col-sm-offset-6 {
        margin-left: 50%}
    .gr-col-sm-offset-5 {
        margin-left: 41.66666667%}
    .gr-col-sm-offset-4 {
        margin-left: 33.33333333%}
    .gr-col-sm-offset-3 {
        margin-left: 25%}
    .gr-col-sm-offset-2 {
        margin-left: 16.66666667%}
    .gr-col-sm-offset-1 {
        margin-left: 8.33333333%}
    .gr-col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width:992px) {
    .gr-container {
        width: 960px;
    }
    .gr-col-md-1, .gr-col-md-10, .gr-col-md-11, .gr-col-md-12, .gr-col-md-2, .gr-col-md-3, .gr-col-md-4, .gr-col-md-5, .gr-col-md-6, .gr-col-md-7, .gr-col-md-8, .gr-col-md-9 {
        float: left;
    }
    .gr-col-md-12 {
        width: 100%}
    .gr-col-md-11 {
        width: 91.66666667%}
    .gr-col-md-10 {
        width: 83.33333333%}
    .gr-col-md-9 {
        width: 75%}
    .gr-col-md-8 {
        width: 66.66666667%}
    .gr-col-md-7 {
        width: 58.33333333%}
    .gr-col-md-6 {
        width: 50%}
    .gr-col-md-5 {
        width: 41.66666667%}
    .gr-col-md-4 {
        width: 33.33333333%}
    .gr-col-md-3 {
        width: 25%}
    .gr-col-md-2 {
        width: 16.66666667%}
    .gr-col-md-1 {
        width: 8.33333333%}

    .gr-col-md-offset-12 {
        margin-left: 100%}
    .gr-col-md-offset-11 {
        margin-left: 91.66666667%}
    .gr-col-md-offset-10 {
        margin-left: 83.33333333%}
    .gr-col-md-offset-9 {
        margin-left: 75%}
    .gr-col-md-offset-8 {
        margin-left: 66.66666667%}
    .gr-col-md-offset-7 {
        margin-left: 58.33333333%}
    .gr-col-md-offset-6 {
        margin-left: 50%}
    .gr-col-md-offset-5 {
        margin-left: 41.66666667%}
    .gr-col-md-offset-4 {
        margin-left: 33.33333333%}
    .gr-col-md-offset-3 {
        margin-left: 25%}
    .gr-col-md-offset-2 {
        margin-left: 16.66666667%}
    .gr-col-md-offset-1 {
        margin-left: 8.33333333%}
    .gr-col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width:1200px) {
    .gr-container {
        width: 1170px;
    }
    .gr-col-lg-1, .gr-col-lg-10, .gr-col-lg-11, .gr-col-lg-12, .gr-col-lg-2, .gr-col-lg-3, .gr-col-lg-4, .gr-col-lg-5, .gr-col-lg-6, .gr-col-lg-7, .gr-col-lg-8, .gr-col-lg-9 {
        float: left;
    }
    .gr-col-lg-12 {
        width: 100%}
    .gr-col-lg-11 {
        width: 91.66666667%}
    .gr-col-lg-10 {
        width: 83.33333333%}
    .gr-col-lg-9 {
        width: 75%}
    .gr-col-lg-8 {
        width: 66.66666667%}
    .gr-col-lg-7 {
        width: 58.33333333%}
    .gr-col-lg-6 {
        width: 50%}
    .gr-col-lg-5 {
        width: 41.66666667%}
    .gr-col-lg-4 {
        width: 33.33333333%}
    .gr-col-lg-3 {
        width: 25%}
    .gr-col-lg-2 {
        width: 16.66666667%}
    .gr-col-lg-1 {
        width: 8.33333333%}
    .gr-col-lg-offset-12 {
        margin-left: 100%}
    .gr-col-lg-offset-11 {
        margin-left: 91.66666667%}
    .gr-col-lg-offset-10 {
        margin-left: 83.33333333%}
    .gr-col-lg-offset-9 {
        margin-left: 75%}
    .gr-col-lg-offset-8 {
        margin-left: 66.66666667%}
    .gr-col-lg-offset-7 {
        margin-left: 58.33333333%}
    .gr-col-lg-offset-6 {
        margin-left: 50%}
    .gr-col-lg-offset-5 {
        margin-left: 41.66666667%}
    .gr-col-lg-offset-4 {
        margin-left: 33.33333333%}
    .gr-col-lg-offset-3 {
        margin-left: 25%}
    .gr-col-lg-offset-2 {
        margin-left: 16.66666667%}
    .gr-col-lg-offset-1 {
        margin-left: 8.33333333%}
    .gr-col-lg-offset-0 {
        margin-left: 0;
    }
}

/*
End gr-col (lg, md, sm, xs )
*/
@media (max-device-width:480px) and (orientation:landscape) {
    .gr-container-fluid>.navbar-collapse, .gr-container-fluid>.navbar-header, .gr-container>.navbar-collapse, .gr-container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width:768px) {
    .gr-container-fluid>.navbar-collapse, .gr-container-fluid>.navbar-header, .gr-container>.navbar-collapse, .gr-container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar>.gr-container .navbar-brand, .navbar>.gr-container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

/*
Start cart styling
*/

.blockquote-reverse .small:before, .blockquote-reverse footer:before, .blockquote-reverse small:before, .mfp-container:before, .mfp-figure:after, blockquote.gr-pull-right .small:before, blockquote.gr-pull-right footer:before, blockquote.gr-pull-right small:before {
    content: ''}
.blockquote-reverse, blockquote.gr-pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0;
}
.blockquote-reverse .small:after, .blockquote-reverse footer:after, .blockquote-reverse small:after, blockquote.gr-pull-right .small:after, blockquote.gr-pull-right footer:after, blockquote.gr-pull-right small:after {
    content: '\00A0 \2014'
}
.dropdown-menu-right, .dropdown-menu.gr-pull-right {
    right: 0;
    left: auto;
}
.dropdown-header, .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu>li>a {
    clear: both;
    font-weight: 400;
    color: #333;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #777;
}
.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.open>.dropdown-menu {
    display: block;
}
.nav-justified>.dropdown .dropdown-menu, .nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
.gr-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
@media (min-width:768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
}
.btn-group-justified>.btn-group .dropdown-menu {
    left: auto;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
        background-image: none;
    }
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}
@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #ccc;
        background-color: transparent;
    }
}
@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #444;
        background-color: transparent;
    }
}
.media-right, .media>.gr-pull-right {
    padding-left: 10px;
}
.media-left, .media>.gr-pull-left {
    padding-right: 10px;
}
.gr-pull-right {
    float: right!important;
}
.gr-pull-left {
    float: left!important;
}
.gr-row {
    margin-right: -15px;
    margin-left: -15px;
}

/*
form-control styling
*/
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .gr-form-control, .navbar-toggle, .open>.dropdown-toggle.btn-danger, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
.gr-form-control, output {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: block;
}
.gr-form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group-sm .gr-form-control, .input-sm {
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 10px;
}
.gr-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.gr-form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.gr-form-control:-ms-input-placeholder {
    color: #999;
}
.gr-form-control::-webkit-input-placeholder {
    color: #999;
}
.gr-form-control[disabled], .gr-form-control[readonly], fieldset[disabled] .gr-form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
textarea.gr-form-control {
    height: auto;
}
.form-group-sm .gr-form-control {
    height: 30px;
    line-height: 1.5;
}
.form-group-lg .gr-form-control, .input-lg {
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
}
select.form-group-sm .gr-form-control {
    height: 30px;
    line-height: 30px;
}
select[multiple].form-group-sm .gr-form-control, textarea.form-group-sm .gr-form-control {
    height: auto;
}
.form-group-lg .gr-form-control {
    height: 46px;
    line-height: 1.3333333;
}
select.form-group-lg .gr-form-control {
    height: 46px;
    line-height: 46px;
}
select[multiple].form-group-lg .gr-form-control, textarea.form-group-lg .gr-form-control {
    height: auto;
}
@media (min-width:768px) {
    .form-inline .gr-form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .input-group .gr-form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
        width: auto;
    }
    .form-inline .input-group>.gr-form-control {
        width: 100%;
    }
}
.input-group .gr-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-lg>.gr-form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
select.input-group-lg>.gr-form-control, select.input-group-lg>.input-group-addon, select.input-group-lg>.input-group-btn>.btn {
    height: 46px;
    line-height: 46px;
}
select[multiple].input-group-lg>.gr-form-control, select[multiple].input-group-lg>.input-group-addon, select[multiple].input-group-lg>.input-group-btn>.btn, textarea.input-group-lg>.gr-form-control, textarea.input-group-lg>.input-group-addon, textarea.input-group-lg>.input-group-btn>.btn {
    height: auto;
}
.input-group-sm>.gr-form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-group-sm>.gr-form-control, select.input-group-sm>.input-group-addon, select.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    line-height: 30px;
}
select[multiple].input-group-sm>.gr-form-control, select[multiple].input-group-sm>.input-group-addon, select[multiple].input-group-sm>.input-group-btn>.btn, textarea.input-group-sm>.gr-form-control, textarea.input-group-sm>.input-group-addon, textarea.input-group-sm>.input-group-btn>.btn {
    height: auto;
}
.input-group .gr-form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .gr-form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group .gr-form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .gr-form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media (min-width:768px) {
    .navbar-form .gr-form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .input-group .gr-form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
        width: auto;
    }
    .navbar-form .input-group>.gr-form-control {
        width: 100%;
    }
}

/*
start login-existing styling
*/

.gr-form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.gr-form-horizontal .checkbox, .gr-form-horizontal .checkbox-inline, .gr-form-horizontal .radio, .gr-form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.gr-form-horizontal .checkbox, .gr-form-horizontal .radio {
    min-height: 27px;
}
.gr-form-horizontal .gr-form-control{
    margin-right: -15px;
    margin-left: -15px;
}
.gr-form-horizontal .has-feedback .gr-form-control-feedback {
    right: 15px;
}
@media (min-width:768px) {
    .gr-form-horizontal .form-group-lg .control-label {
        padding-top: 14.33px;
    }
    .gr-form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
    }
}
.text-capitalize {
    text-transform: capitalize;
}
.gr-form-control{
    margin-bottom: 15px;
}
@media (min-width:768px) {
    .form-inline .form-control-static, .form-inline .gr-form-control{
        display: inline-block;
    }
    .form-inline .control-label, .form-inline .gr-form-control{
        margin-bottom: 0;
        vertical-align: middle;
    }
}
@media (min-width:768px) {
    .navbar-form .form-control-static, .navbar-form .gr-form-control{
        display: inline-block;
    }
    .navbar-form .control-label, .navbar-form .gr-form-control{
        margin-bottom: 0;
        vertical-align: middle;
    }
}
@media (max-width:767px) {
    .navbar-form .gr-form-control{
        margin-bottom: 5px;
    }
}
/*
end login-existing styling
*/

/*
Start bullseye styling
*/
.gr-alert-dismissable .gr-close, .gr-alert-dismissible .gr-close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .gr-close {
    line-height: 1;
}
.gr-close {
    float: right;
    font-size: 21px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.gr-close:focus, .gr-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.gr-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-header .gr-close {
    margin-top: -2px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .gr-img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
body a, body blockquote, body h1, body h2, body h3, body h4, body h5, body input, body label, body li, body p, body select {
    font-family: Quicksand;
}


.gr-panel-heading>.dropdown .dropdown-toggle, .gr-panel-title, .gr-panel-title>.small, .gr-panel-title>.small>a, .gr-panel-title>a, .gr-panel-title>small, .gr-panel-title>small>a {
    color: inherit;
}
.gr-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.gr-panel-title, .gr-panel>.list-group, .gr-panel>.gr-panel-collapse>.list-group, .gr-panel>.gr-panel-collapse>.table, .gr-panel>.table, .gr-panel>.table-responsive>.table {
    margin-bottom: 0;
}
.gr-panel-body {
    padding: 15px;
}
.gr-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.gr-panel-title {
    margin-top: 0;
    font-size: 16px;
}
.gr-panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.gr-panel>.list-group .list-group-item, .gr-panel>.gr-panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.gr-panel-group .gr-panel-heading, .gr-panel>.table-bordered>tbody>tr:first-child>td, .gr-panel>.table-bordered>tbody>tr:first-child>th, .gr-panel>.table-bordered>tbody>tr:last-child>td, .gr-panel>.table-bordered>tbody>tr:last-child>th, .gr-panel>.table-bordered>tfoot>tr:last-child>td, .gr-panel>.table-bordered>tfoot>tr:last-child>th, .gr-panel>.table-bordered>thead>tr:first-child>td, .gr-panel>.table-bordered>thead>tr:first-child>th, .gr-panel>.table-responsive>.table-bordered>tbody>tr:first-child>td, .gr-panel>.table-responsive>.table-bordered>tbody>tr:first-child>th, .gr-panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .gr-panel>.table-responsive>.table-bordered>tbody>tr:last-child>th, .gr-panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .gr-panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th, .gr-panel>.table-responsive>.table-bordered>thead>tr:first-child>td, .gr-panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
    border-bottom: 0;
}
.gr-panel>.list-group:first-child .list-group-item:first-child, .gr-panel>.gr-panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.gr-panel>.list-group:last-child .list-group-item:last-child, .gr-panel>.gr-panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.list-group+.gr-panel-footer, .gr-panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.gr-panel>.gr-panel-collapse>.table caption, .gr-panel>.table caption, .gr-panel>.table-responsive>.table caption {
    padding-right: 15px;
    padding-left: 15px;
}
.gr-panel>.table-responsive:first-child>.table:first-child, .gr-panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child, .gr-panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child, .gr-panel>.table:first-child, .gr-panel>.table:first-child>tbody:first-child>tr:first-child, .gr-panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.gr-panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .gr-panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .gr-panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .gr-panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .gr-panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .gr-panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .gr-panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .gr-panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.gr-panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .gr-panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child, .gr-panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .gr-panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .gr-panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .gr-panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .gr-panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .gr-panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.gr-panel>.table-responsive:last-child>.table:last-child, .gr-panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child, .gr-panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child, .gr-panel>.table:last-child, .gr-panel>.table:last-child>tbody:last-child>tr:last-child, .gr-panel>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.gr-panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .gr-panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .gr-panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .gr-panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .gr-panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .gr-panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .gr-panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .gr-panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.gr-panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child, .gr-panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child, .gr-panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .gr-panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child, .gr-panel>.table:last-child>tbody:last-child>tr:last-child td:last-child, .gr-panel>.table:last-child>tbody:last-child>tr:last-child th:last-child, .gr-panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .gr-panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.gr-panel>.gr-panel-body+.table, .gr-panel>.gr-panel-body+.table-responsive, .gr-panel>.table+.gr-panel-body, .gr-panel>.table-responsive+.gr-panel-body {
    border-top: 1px solid #ddd;
}
.gr-panel>.table>tbody:first-child>tr:first-child td, .gr-panel>.table>tbody:first-child>tr:first-child th {
    border-top: 0;
}
.gr-panel>.table-bordered, .gr-panel>.table-responsive>.table-bordered {
    border: 0;
}
.gr-panel>.table-bordered>tbody>tr>td:first-child, .gr-panel>.table-bordered>tbody>tr>th:first-child, .gr-panel>.table-bordered>tfoot>tr>td:first-child, .gr-panel>.table-bordered>tfoot>tr>th:first-child, .gr-panel>.table-bordered>thead>tr>td:first-child, .gr-panel>.table-bordered>thead>tr>th:first-child, .gr-panel>.table-responsive>.table-bordered>tbody>tr>td:first-child, .gr-panel>.table-responsive>.table-bordered>tbody>tr>th:first-child, .gr-panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child, .gr-panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child, .gr-panel>.table-responsive>.table-bordered>thead>tr>td:first-child, .gr-panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
    border-left: 0;
}
.gr-panel>.table-bordered>tbody>tr>td:last-child, .gr-panel>.table-bordered>tbody>tr>th:last-child, .gr-panel>.table-bordered>tfoot>tr>td:last-child, .gr-panel>.table-bordered>tfoot>tr>th:last-child, .gr-panel>.table-bordered>thead>tr>td:last-child, .gr-panel>.table-bordered>thead>tr>th:last-child, .gr-panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .gr-panel>.table-responsive>.table-bordered>tbody>tr>th:last-child, .gr-panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child, .gr-panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child, .gr-panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .gr-panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0;
}
.gr-panel>.table-responsive {
    margin-bottom: 0;
    border: 0;
}
.gr-panel-group {
    margin-bottom: 20px;
}
.gr-panel-group .gr-panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.gr-panel-group .gr-panel+.gr-panel {
    margin-top: 5px;
}
.gr-panel-group .gr-panel-heading+.gr-panel-collapse>.list-group, .gr-panel-group .gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top: 1px solid #ddd;
}
.gr-panel-group .gr-panel-footer {
    border-top: 0;
}
.gr-panel-group .gr-panel-footer+.gr-panel-collapse .gr-panel-body {
    border-bottom: 1px solid #ddd;
}
.gr-panel-default {
    border-color: #ddd;
}
.gr-panel-default>.gr-panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.gr-panel-default>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #ddd;
}
.gr-panel-default>.gr-panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.gr-panel-default>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #ddd;
}
.gr-panel-primary {
    border-color: #337ab7;
}
.gr-panel-primary>.gr-panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.gr-panel-primary>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #337ab7;
}
.gr-panel-primary>.gr-panel-heading .badge {
    color: #337ab7;
    background-color: #fff;
}
.gr-panel-primary>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #337ab7;
}
.gr-panel-success {
    border-color: #d6e9c6;
}
.gr-panel-success>.gr-panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.gr-panel-success>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #d6e9c6;
}
.gr-panel-success>.gr-panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d;
}
.gr-panel-success>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #d6e9c6;
}
.gr-panel-info {
    border-color: #bce8f1;
}
.gr-panel-info>.gr-panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.gr-panel-info>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #bce8f1;
}
.gr-panel-info>.gr-panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f;
}
.gr-panel-info>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #bce8f1;
}
.gr-panel-warning {
    border-color: #faebcc;
}
.gr-panel-warning>.gr-panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.gr-panel-warning>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #faebcc;
}
.gr-panel-warning>.gr-panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
}
.gr-panel-warning>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #faebcc;
}
.gr-panel-danger {
    border-color: #ebccd1;
}
.gr-panel-danger>.gr-panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.gr-panel-danger>.gr-panel-heading+.gr-panel-collapse>.gr-panel-body {
    border-top-color: #ebccd1;
}
.gr-panel-danger>.gr-panel-heading .badge {
    color: #f2dede;
    background-color: #a94442;
}
.gr-panel-danger>.gr-panel-footer+.gr-panel-collapse>.gr-panel-body {
    border-bottom-color: #ebccd1;
}

.gr-alert-dismissable, .gr-alert-dismissible {
    padding-right: 35px;
}
.gr-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.gr-alert-success hr {
    border-top-color: #c9e2b3;
}
.gr-alert-success .gr-alert-link {
    color: #2b542c;
}
.gr-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.gr-alert-info hr {
    border-top-color: #a6e1ec;
}
.gr-alert-info .gr-alert-link {
    color: #245269;
}
.gr-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.gr-alert-warning hr {
    border-top-color: #f7e1b5;
}
.gr-alert-warning .gr-alert-link {
    color: #66512c;
}
.gr-alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.gr-alert-danger hr {
    border-top-color: #e4b9c0;
}
.gr-alert-danger .gr-alert-link {
    color: #843534;
}
/*
End bullseye styling
*/
