

/* h1,h2,h3 colors */
body {
	
	font-family: 'Lato', sans-serif;

}

/* global */
body h1, body h2, body h3, body h4, body h5, body p, body blockquote, body li, body a, body input, body select, body label{
  font-family: 'Lato', sans-serif;
}

/* text */
body p, body blockquote, body li, body label, body input, body select {
  color: #333;
  color: var(--text-color);
}

body a, body a:visited {
  
}
.fade-color{
    color:#828282;
}
body a:hover {
	
}

.h-8{
    font-size: 8px;
}

.h-7{
    font-size: 10px;
}

.dropdown-item{
font-size: medium !important
}
.default-padding  {

}
/* block margins */
body h1, body h2, body h3, body h4, body h5, body p, body blockquote, body ul, body ol {
  margin-bottom: 25px;
}

/* relative font sizes for headlines */
body h1 {
  font-size: 40px;
}

body h2 {
  font-size: 30px;
}

body h3 {
  font-size: 25px;
}

body h4 {
  font-size: 20px;
}

body h5 {
  font-size: 18px;
}

body p {
  line-height: 25px;
}

/* relative font sizes for lead */
body p.lead {
	font-weight: 300;
	font-size: 1.5em;
	line-height: 40px;
}

.img-center{
    margin:  auto;
    display: block;
}
form{
    width: 100%;
}

.margin-between-sections {
    margin-bottom:25px;
}

body button {
  	border-radius: 0 !important;
  	text-transform: uppercase;
  	border-color: #ddd !important;
}

/* footer */
body footer {
  border-bottom: 0;
  background-color: #37291f;
  padding-top: 50px;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

body footer .container {
	text-align: left;
	border-bottom: 0 !important;
}

body footer h2, body footer p, body footer a, body footer li a {
	color: #fff;
}
.footer-col-headings{
    font-size: 22px;
}
body footer ul li:before {
	color: #ff9248;
	font-size: 18px;
	content: "- ";
}
body footer ul li {
	list-style: none;
}
body footer ul li a {
	color: #fff !important;
	font-size: 18px;
	list-style: none;
}
.latest-posts-link {
    margin-bottom: 5px;
}
.latest-posts-link a{
    color: #ff9248;
    font-size: 18px;
}
.latest-post-text{
    padding-bottom: 15px;
    border-bottom: 1px solid #64422b;
}
.get-in-touch-section i{
    
    display: inline-block;
    font-size: 40px;
}
.content-section{
    display: inline-block;
}
.address-cell{
    display: inline-flex;
}
.footer-bullets{
    padding-left: 0px;
}
body footer p {
	font-size: 16px;
}
.footer-script{
    background-color: #412e21;
    padding-top: 20px;
}
.bottom-footer-text{
    font-size: 16px;
}
.p-text-border{
    border-right: 1px solid #fff;
}
.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Top header */
.top-bar{
    padding-top: 15px !important;
    background-color: rgba(55, 41, 31, 0.8);
}
.container-width{
    width: 100%;
}
.top-content-inline{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}
.contact-icons{
    color: #ff9248;
    padding-right: 10px;
}
.top-content-inline a{
    color: #fff;
}
.top-content-inline a:hover, .top-content-inline a:hover{
    color: inherit;
}
.social-icons i{
    padding: 0 10px;
}
.social-icons i:hover, .social-icons i:focus, .social-icons i:active{
    color: #ff9248;
}
.social-block{
    text-align: right;
}
/* header */
body header {
    position: fixed;
    z-index: 1000;
    min-height: 60px;
    left: 0;
    right: 0;
    height: 105px;
  
}

  body header .navbar-brand {
    position: absolute;
    top: 4px;
    left: 20px;
  }

  body header .navbar-brand img {
  	height: 50px;
  }

  body header .header-actions {
    position: absolute;
    top: -8px;
    right: 10px;
  }

  body header .header-action {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    min-width: 40px;
    top: 28px;
    height: 40px;
    text-align: center;
    border: transparent;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
  }

  body header .navbar {
     padding-top: 7px !important;
    background-color: #fff;
    margin-bottom: 0px;
    border-radius: 0px;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 0px transparent;
 }
.navbar-nav .nav-link {
    font-size: 18px;
    color: #37291f !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-bottom: 20px !important;
}
.navbar-nav>li:after {
    display:block;
    content: '';
    border-bottom: solid 3px #ff9248;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navbar-nav>li:hover:after, .navbar-nav>li:active:after {
   transform: scaleX(1);
   transform-origin:  0% 50%;
}

.nav-background-color{
   background-color: #fff;
}
body.home #home[role=main] {
    min-height: 100vh;
}
/* index page */
/* index banner Start*/
.big-top-spacing{
    padding-top: 200px;
}
.index-cover-img{
    height: 900px;
}
.index-banner-text-wrap {
    background-color: transparent;
    width: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.get-code-text-wrap {
   background-color: transparent;
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.global-btn a {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 22px;
}

/* index banner end */
/*Video */

.video-block-height {
    height: 600px;
    overflow: hidden;
}
.video-block {
    margin-top: 76px;
}
.video-position {
    height: 560px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: -100;
}
.video-display {
    display: inline-block;
    margin: 0 auto;
    vertical-align: baseline;
    width: 100%;
}

/* Digital Evolution Start */
.main-wrap{
    margin: 20px 0;
    padding: 10px 0;
    <!--width: 100%;-->
    text-align: center;
}
.outer-space{
    margin: 30px 0;
}
.digital-inner-taxt{

}
.digital-inner-taxt #main-heading{
    color: #37291f;
}
.digital-inner-taxt #small-text{
    color: #828282;
}
.center-border{
    border-bottom: 3px solid #ff9248;
}
.center-border-white    {
    border-bottom: 3px solid #ffffff;
}
/* Digital Evolution End */

/* Services Start */
.service-text {
     width :125px;
}
.services-inner{
    display: inline-block;
    margin: 0px 25px;
    padding: 0 10px;
        width: 60%;
}
.services-inner img{
    width: 70px;
    height: 70px;
}
.img-wrap {
    padding: 25px;
    border: 1px solid #e7e7e7;
    border-radius: 158px;
    height: 125px;
    width: 125px;
}
.services-inner #small-text{
    color: #37291f;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center
}
.services-p-taxt{
    margin-top: 25px;
  
}
/* Services End */

/* Get Code Start */
.get-code-img{
    position: relative;
    height: 300px;
}
.global-btn-index a {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 24px;
}
.get-code-text #main-heading{
    margin-bottom: 40px;
    color: #37291f;
}
/* Get Code End */

/* Our Process Start */
.our-process-img {
   ;
        position: relative;
    background-size: cover;
    background-position: center center;
}
.our-process-text {
    margin-top: 20px;
    width: auto !important;
    text-align: center;
}
.our-process-text #main-heading{
    color: #37291f;
}
.aboutus-process{
    margin: 0;
    padding-bottom: 10px;
}
.aboutus-process-heading-wrap {
    padding-bottom:20px;
}
.aboutus-para-proccess {
    float:right;

}
/* Our Process Start end  */


.full-width{
    width: 100%;
}
#p-number{
    color: #fff;
    background-color: #37291f;
    width: max-content;
    padding: 7px 15px;
    border-radius: 50%;
    margin: 0 auto;
    font-weight: bold;
    position: absolute;
    left: 45%;
    top: 94%;
}
.our-process-inner{
padding: 50px 20px 60px 20px;
background:white;

}
.parent-row {
    display:flex;
}
.child-col{
   display:flex;
}
/* Our Process end  */

/* leading software development  */

.leading-development-inner {
 padding : 20px 20px 20px 20px; 
 }
 .leading-text-number {
    text-align: left;
   color:#ff9248;
   font-size: 39px !important;
  }
  .leading-text{
   margin-top: 70px;
   
  }
  .leading-text h3 {
   color:#37291f;
    font-size: 20px !important;
        text-align: left
  }
  
  .leading-border{
    margin-top: 70px;
    outline: 3px solid #ff9248;
    color: #ff9248;
   
    <!--margin: 50px 20px 20px 20px;-->
}
.set-margin {
margin:70px;
}

/* leading software development end  */

/*  Development section*/
.development-container {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.development-main{
    height: 300px;
    background-size: cover;
   
}
.development-main:hover .overlay {
 background-color:#ff9248;
 opacity:0.2
}
.development-inner {
    position : absolute;
    text-align: center;
    top:25%;
}

.development-text{
    margin-top: 45px !important;

}
.development-text a{
    color: #ffff !important;
}
/*  Development section end */

/*  case study  start */
.case-study-main{
    height: 100%;
    background-size: cover;
   
}
.case-study-button a {
    background-color: transparent;
    border: 2px solid #37291f;
    border-radius: 4px;
    color:  #37291f;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 30px;
    text-transform: uppercase;
 }
 
.get-case-study-wrap {
margin: 50px
}

.case-study-inner {
    position: absolute;
    top: 60%;
    text-align: left;
    padding: 35px;
}
.case-study-inner h2 {
padding : 0 0 10px 0;
margin : 0;
color:#ffffff

}
.case-study-inner p {

color:#ffffff;
margin: 0 0 10px 0;
}
.case-study-outline {
    outline: 1px solid #ffffff;
    width: 100%;
    

}
.case-study-sidebar{
    width: 100%;
    background-size: cover;
   
}

.case-study-sidebar-inner {
 position: absolute;
    top: 40%;
    text-align: left;
    
  
} 

.case-study-sidebar-text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}
.case-study-sidebar-outline {
    outline: 1px solid #ffffff;
    width: 100%;
}
.case-study-sidebar:hover .overlay {
 opacity: 0.8;
  background-color: #ff9248;
}
.case-study-img {
   display: block;
  width: 100%;
  height: auto;
}
/*  case study  end  */


/* dynamic desgin */

.dynamic-desgin-box {
    box-shadow: 0px 0px 11px #ddd;
    padding-top: 20px !important;
    padding-bottom: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.margin-between-boxes{
  margin-top:30px !important;
}

.margin-between-out-box{
   margin-top:70px !important;
}
/* dynamic desgin end */


/* who we are end */

.who-heading {
 font-size :22px;
 color: #37291f !important;
 margin-bottom: 10px;
 
}
.who-para {
 font-size :16px;
 font-color:#37291f
 
}
.who-outline {
 margin-bottom: 10px;
 border-bottom: 3px solid #ff9248;
 width:100%;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color:#ff9248;
}

.img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* who we are  end */

.digital-inner-text h3
{
color: #111;
}

/* our mission  */
.our-mission-color h1,h3,p {
     color:#ffffff;
}
.socials {
    display :inline;
    padding:0;
    
}
.socials li {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #828282;
    border-radius: 50%;
    transition: all 200ms ease;
}

.socials  li a {
    display: block;
    position: relative;
    text-align: center;
}
.socials li a i {
    color: #FFFFFF;
    line-height: 45px;
}
/* our mission  end */

/* about us */
.aboutus-image-wrap {
  margin  :10px 20px;
  
}
/*about us  end */


/*contact  us   */
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}

/*---------------------------------------------*/

.contact-us-button {
	outline: none !important;
	border: none;
	background: transparent;
	background-color: #ff9248;
    width: 150px;
    HEIGHT: 50px;
    font-size: 20px;
    color:#ffffff
}

button:hover {
	cursor: pointer;
}



/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.4;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #666666;
  line-height: 1.4;
}

.hov1:hover {
  color: #c87ef0;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}


.wrap-login100 {
  width: 520px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 520px);
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e8519e;
  background: -webkit-linear-gradient(bottom, #e8519e, #c77ff2);
  background: -o-linear-gradient(bottom, #e8519e, #c77ff2);
  background: -moz-linear-gradient(bottom, #e8519e, #c77ff2);
  background: linear-gradient(bottom, #e8519e, #c77ff2);
  opacity: 0.8;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
}

.label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}

.input100 {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #d5007d;
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  margin: 0;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #c87ef0;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrap-login100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #e8519e;
  background: -webkit-linear-gradient(top, #e8519e, #c77ff2, #e8519e, #c77ff2);
  background: -o-linear-gradient(top, #e8519e, #c77ff2, #e8519e, #c77ff2);
  background: -moz-linear-gradient(top, #e8519e, #c77ff2, #e8519e, #c77ff2);
  background: linear-gradient(top, #e8519e, #c77ff2, #e8519e, #c77ff2);
  bottom: -100%;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  bottom: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.about-us-outline {
    outline: 1px solid #ff9248;
    width: 40%;
}
.about-us-inner {
    position: absolute;
    top: 0;
    text-align: left;
    padding: 35px;
}

.about-us-inner h1,h2 ,h3 {

 color: #ffffff;
}  
.about-us-inner p{
    color:#ffffff;
}
 /*about us  end */
/* Small devices (tablets, 768px and up) */

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
    body .container {
        max-width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
/* for case study image text */
@media (max-width: 900px){
    .case-study-inner {
        top: 40%;
    }
}
/* Small devices (767px and less) */
@media (max-width: 767px) {
    .leading-text-number {
        text-align: center;
   
  }
  .navbar-collapse
  {
  border-top: rgba(55, 41, 31, 0.8) 1px solid;
  }
   .leading-text h3 {
        text-align:center;
  }
    .text-center-center{
        text-align: center;
    }
    .text-center-right{
        float:right;
    }
    .mobile-search{
        display: none !important;
    }
     body header .header-actions {
        top: -21px;
    }
    body header .navbar-brand img {
        height: 45px;
    }
    body header .navbar-brand {
        top: 0px;
    }
    .mobile-display{
        display: none;
    }
    .index-cover-img {
        height: 600px;
    }
    .index-banner-text h2 {
        font-size: 22px !important;
    }
    .index-banner-text h3 {
        font-size: 20px !important;
    }
    .our-process-inner {
        
        margin: 20px 0;
        padding: 20px 0;
    }
    .parent-row {
        display: block !important;
    }
    .child-col {
        display: block !important;
    }

}
@media (max-width: 576px) {
    .bottom-footer-text a{
        padding-left: 15px;
    }
    footer .social-block{
        text-align: left;
    }
    .index-banner-text{
        font-size: 8px;
    }
    .big-top-spacing {
        padding-top: 300px;
    }
    .text-center-right {
        float: none;
    }
    .social-block, .contact-block {
        text-align: center;
    }
    .p-text-border {
        border-right: 1px transparent;
    }
    .global-btn-index a {
        padding: 15px 15px;
        font-size: 19px;
    }
    .index-banner-text h2 {
        font-size: 19px !important;
    }
    .index-banner-text h3 {
       display:none
    }
    .global-btn a {
     font-size: 16px !important; 
    }
    }
    @media (max-width: 380px) {
    .global-btn-index a{
      
        font-size: 13px !important;
    }
    .global-btn a{
        font-size: 12px !important;
    }
   .case-study-button a {
      font-size :10px ;
   }
}