<!DOCTYPE html>
<html lang="{{page.language}}" dir="{{page.direction}}">

  <head>
    <title>{{page.title}}</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- set base -->
    <base href="../">

    <!-- open graph -->
    <meta property="og:url" content="{{page.fullUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.image}}">

    <!-- icons -->
    <link theme-icon="" href="resources/icon.png" rel="icon">
    <meta theme-color="" content="#888" name="msapplication-TileColor">
    <meta theme-color="" content="#888" name="msapplication-TileImage">
    <link theme-icon="" href="resources/icon.png" rel="apple-touch-icon">

    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->
    <link type="text/css" href="css/site.min.css" rel="stylesheet">

    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    {{page.customHeader}}

  </head>

  <body class="content">

    <header role="banner">

      <nav class="navbar navbar-expand-md navbar-light justify-content-end">

        <a class="navbar-brand" href="index"><img theme-logo="" src="resources/logo.png"></a>

        <div id="header-primary-menu" class="primary-menu collapse navbar-collapse">

          <ul taotastic-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" href="index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="gallery">Gallery</a>
                <a class="dropdown-item" href="page/about">About</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="gallery">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="page/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="page/contact">Contact</a></li>
          </ul>

        </div>

        <div class="header-actions">

          <a class="header-action d-md-none" data-toggle="collapse" data-target="#header-primary-menu">
            <i class="material-icons">menu</i>
          </a>

          <a class="header-action" taotastic-cart="" cart-toggle="">
            <i class="material-icons">shopping_cart</i> <span cart-total="">$0.00</span>
          </a>

          <a class="header-action" taotastic-search="">
            <i class="material-icons">search</i>
          </a>

        </div>

      </nav>

    </header>
    <!-- /header -->

    <main role="main">

      <div class="block row top-half-spacing bottom-half-spacing">
        <div class="col col-md-6">
          <div taotastic-plugin="" type="product-images" product="{{product.id}}" interval="25000" height="400"></div>
        </div>
        <div class="col col-md-6">
          <h1 class="page-title">{{page.title}}</h1>
          <p class="page-description">{{page.description}}</p>
          <div taotastic-plugin="" type="buy-now" product="{{product.id}}" text="Buy Now" modaltext="Purchase"></div>
          <div taotastic-plugin="" type="add-to-cart" product="{{product.id}}" text="Add to Cart" modaltext="Purchase"></div>
        </div>
      </div>

    </main>

    <footer role="contentinfo">

      <div class="container">
        <div class="row">
          <div class="col col-md-6">
            <h3>Contact</h3>
            <p>Give us a call at (123) 456-7890 or email us at <a href="mailto:sample@sample.com">sample@sample.com</a></p>
          </div>
          <div class="col col-md-6">
            <h3>About</h3>
            <p>This site is powered by <a href="http://taotasticcms.com">taotastic CMS</a>. taotastic CMS is an open source content management system that you can use to build beautiful, responsive websites. The latest version features Bootstrap 3.0, robust themes, a complete REST API, and a beautiful UI. Images from <a href="https://unsplash.com/">Unsplash</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <ul taotastic-plugin="" type="menu" menu="footer">
              <li class="nav-item"><a class="nav-link active" href="index">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="gallery">Gallery</a>
                  <a class="dropdown-item" href="page/about">About</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="gallery">Gallery</a></li>
              <li class="nav-item"><a class="nav-link" href="page/about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="page/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
      <div taotastic-plugin="" type="cart"></div>

    </footer>
    <!-- /footer -->

  </body>

  <!-- js -->
  <script src="js/site.all.js"></script>

  {{page.customFooter}}

</html>