<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>About Us</title>

  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <!-- set base -->
  <base href="">

  <!-- open graph -->
  <meta property="og:url" content="/about-us.html.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="About Us">
  <meta property="og:description" content="">
  <meta property="og:image" content="{{page.image}}">

  <!-- icons -->
  <link theme-icon="" href="resources/icon.png" rel="icon">
  <meta theme-color="" content="#888" name="msapplication-TileColor">
  <meta theme-color="" content="#888" name="msapplication-TileImage">
  <link theme-icon="" href="resources/icon.png" rel="apple-touch-icon">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



  <!-- css -->
  <link type="text/css" href="css/site.min.css" rel="stylesheet">

  <!-- google maps -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  

<style taotastic-settings></style></head>

<body class="content" data-lastmodified="2019-04-10T13:12:31+0000" data-template="default" data-tags="" show-cart="false">
  <header role="banner">

    <div class="top-bar row">
      <div class="container">
        <div class="col-xs-4 col-md-4 col-sm-4 contact-block">
          <i class="fa fa-phone top-content-inline contact-icons"></i>
          <p class="top-content-inline"><a href="tel:+1-888-888-8888">+1-888-888-8888</a></p>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 text-center-center">
          <i class="fa fa-envelope top-content-inline contact-icons"></i>
          <p class="top-content-inline"><a href="mailto:info@taotastic.com">info@taotastic.com</a></p>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 text-center-center social-block">
          <p class="top-content-inline mobile-display">Follow us on: </p>
          <div class="social-icons top-content-inline text-center-right">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-background-color">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light justify-content-end">
          <div class="container">
            <div class="container-width">

              <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
                  <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index"><img theme-logo="" src="resources/logo.png"></a>

              </div>
              <div id="header-primary-menu" class="primary-menu collapse navbar-collapse collapse navbar-collapse navbar-ex1-collapse">

                <ul taotastic-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto"><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="animation-design.html">Animation Graphic Design</a></div></li><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="construction.html">Construction</a></div></li><li class="nav-item active "><a class="nav-link" href="about-us.html">About US</a></li><li><a class="nav-link" href="contact-us.html">Contact US</a></li></ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- /header -->

  <main id="home" class="container-fluid no-padding default-padding" role="main">
     
  
<!-- Index Banner Start -->
<div class="block row index-cover-img" data-background-image="files/aboutus_nav_header_img.png" style="background-image: url('files/aboutus_nav_header_img.png'); background-repeat: no-repeat; background-size: cover; ">
    <div class="index-banner-text-wrap big-top-spacing container-width">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="col-xs-1 col-md-2 col-sm-1 col-lg-1"></div>
                <div class="col-xs-10 col-md-8 col-sm-10 col-lg-10">
                    <div class="col index-banner-text">
                       
                        <h1 style="color:#ff9248 ; padding-bottom:40px">About Us</h1>
                        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem 
                        Ipsum is that it has a more-or-less normal distribution </h3>
                        <div class="col global-btn" style="margin-top:40px">
                            <p><a title="Request a Consultant" href="#">Request a Consultant</a></p>
                        </div>
                    </div>
              </div>
          </div>
    </div>
</div>
<!-- /.Index Banner End -->
<!-- Digital Evolution Start -->
<div class="main-wrap">
    <div class="block row">
    <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10">
            <div class="col digital-inner-text text-center">
                <h1 id="main-heading">Who We Are </h1>
                <h3 id="small-text " class="fade-color">Your business glow with less stress and less cost.</h3>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
                <div class="col col col-xs-8 col-md-6 col-sm-4 col-lg-4">
                    <p class="center-border"><br></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /.End -->

<!-- about us text-->
<div class="block row">
         <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10 text-center">
            <div class="col services-p-taxt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
        </div>
    </div>
    <div class="block row">
         <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10 text-center">
            <div class="col services-p-taxt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
        </div>
    </div>
<!-- about us text end-->

<!-- core value  -->
  <div class="block row our-process-img" data-background-image="files/aboutus_our_core_values_bg.png" style="background-image: url('files/aboutus_our_core_values_bg.png'); background-repeat: no-repeat;">
        <div class="margin-between-sections">
                <div class="col-xs-12 col-md-12 col-sm-12" >
                <div class="col-xs-1 col-md-2 col-sm-2 col-lg-2"></div>
                    <div class="col-xs-10 col-md-8 col-sm-8 col-lg-8">
                  <div class="col our-process-text text-center">
                      <h1 id="main-heading " style="color:#ffffff" >Our core values 
                        
                       </h1>
                       <p style="margin-bottom:70px;color:#ffffff">porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean<p/>
                    </div>
                  </div>
              </div>
                  <div class="block row">
                    
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
               </div>
               <div class="block row">
                    
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
                    <div class="col-lg-4"> 
                       <div class="block row">
                         <div  class="col">
                           <div class="col-lg-2">
                              <p><img  class="responsive" src="files/custom_setup_icon.png" alt="icon not load"/></p>
                           </div>
                           <div class="col col-lg-10">
                               <div style="color:#ffffff"><h4>Custom Setup</h4></div>
                               <div ><p style="color:#ffffff"> porin iaculis pururs sem  cure digi  issim . Donec portttitora entum suscipit aenean </p></div>
                           </div>
                       </div>
                     </div>
                     
                    </div>
               </div>
              
                
              
        </div>
     </div>
   <!-- core value end  -->
   
   
   <!-- our process-->
   <div class="main-wrap">
    <div class="block row">
    <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10">
            <div class="col digital-inner-text text-center">
                <h1 id="main-heading">Our Process </h1>
                <h3 id="small-text " class="fade-color">Your business glow with less stress and less cost.</h3>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
                <div class="col col col-xs-8 col-md-6 col-sm-4 col-lg-4">
                    <p class="center-border"><br></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="block row">
      
         <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10 text-center">
            <div class="col services-p-taxt">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
        </div>
    </div>
    
    <div class="block row">
         <div class="">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-between-sections">
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding">
                 <div class="col aboutus-process-heading-wrap">
                     <h4 class="aboutus-process">Meeting</h4>
                    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 no-padding" style="margin:0"  >
                        <p class="center-border"></p>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-10 col-lg-10" ></div>
               </div>
               <div class="col aboutus-para-proccess">
                   <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                    the 1500s, when an unknown printer took a galley of type and scrambled it Ipsum. </p>
               </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding">
                 <div class="col aboutus-process-heading-wrap">
                     <h4 class="aboutus-process">Planning and Organizing</h4>
                    <div class="col-xs-12 col-sm-4 col-md-2  col-lg-2 no-padding" style="margin:0"  >
                        <p class="center-border"></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-10 col-lg-10" ></div>
               </div>
               <div class="col aboutus-para-proccess">
                   <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                    the 1500s, when an unknown printer took a galley of type and scrambled it Ipsum. </p>
               </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding">
                 <div class="col aboutus-process-heading-wrap">
                     <h4 class="aboutus-process">Execuite</h4>
                    <div class="col-xs-12 col-sm-4 col-md-2  col-lg-2 no-padding" style="margin:0"  >
                        <p class="center-border"></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-10  col-lg-10" ></div>
               </div>
               <div class="col aboutus-para-proccess">
                   <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                    the 1500s, when an unknown printer took a galley of type and scrambled it Ipsum. </p>
               </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding">
                 <div class="col aboutus-process-heading-wrap">
                     <h4 class="aboutus-process">Deliver</h4>
                    <div class="col-xs-12 col-sm-4 col-md-2  col-lg-2 no-padding" style="margin:0"  >
                        <p class="center-border"></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-10  col-lg-10" ></div>
               </div>
               <div class="col aboutus-para-proccess">
                   <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                    the 1500s, when an unknown printer took a galley of type and scrambled it Ipsum. </p>
               </div>
             </div>
       </div>
      </div>          
    </div>

   <!-- our process end-->
   
   
    <!-- our mssion -->
      <div class="our-process-img" data-background-image="files/our_mission_bg.png" style="background-image: url('files/our_mission_bg.png'); background-repeat: no-repeat;">
       <div class="main-wrap">
        <div class="block row">
        <div class="col-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-12 col-md-8 col-sm-10 col-lg-10">
            <div class="col digital-inner-text text-center our-mission-color">
                <h1 id="main-heading">Our Mission </h1>
                <h3 id="small-text"  >Your business glow with less stress and less cost.</h3>
                 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
                    <div class="col-xs-8 col-md-6 col-sm-4 col-lg-4">
                        <p class="center-border-white"><br></p>
                  </div>
              </div>
        </div>
        </div>
    </div>
    </div>
    <div class="block row">
      
         <div class="col-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-12 col-md-8 col-sm-10 col-lg-10 text-center" >
            <div class="col services-p-taxt our-mission-color">
                <p style="color:#ffffff">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
        </div>
    </div>
 </div>
    <!-- our mission end-->
    
    <!-- our team -->
      <div >
       <div class="main-wrap">
        <div class="block row">
        <div class="col-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-12 col-md-8 col-sm-10 col-lg-10">
            <div class="col digital-inner-text text-center">
                <h1 id="main-heading">Our Team</h1>
                <h3 id="small-text" style="color:black">Your business glow with less stress and less cost.</h3>
               <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
                    <div class="col-xs-8 col-md-6 col-sm-4 col-lg-4">
                        <p class="center-border"><br></p>
                  </div>
              </div>
        </div>
        </div>
    </div>
    </div>
    
    <div class="block row">
        <div class="container">
          <div class="col col-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <p><img src ="files/team_img_01.png " alt="image not laod" class="img-responsive"></p>
              <h4>Jimmy Letterman </h4>
              <p style="color:#ff9248">Marketer </p>
                 
                  <ul class="socials">
                                <li >
                                  <p><a  href="#" data-automation="link-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i>
                                  </a></p></li>
                    </ul>
                       
         </div>
          
     
         <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <img src ="files/team_img_02.png " alt="image not laod" class="img-responsive">
              <h4>Rico Massimo <h4>
              <p style="color:#ff9248">Coder </p>
                                <ul class="socials">
                                <li >
                                  <p><a  href="#" data-automation="link-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i>
                                  </a></p></li>
                    </ul>
          </div>
           <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <img src ="files/team_img_03.png " alt="image not laod" class="img-responsive">
              <h4>Lisa Masom <h4>
              <p style="color:#ff9248">Graphic Designer </p>
                                <ul class="socials">
                                <li >
                                  <p><a  href="#" data-automation="link-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                                  </a></p></li>
                                <li>
                                  <p><a  href="#" data-automation="link-google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i>
                                  </a></p></li>
                    </ul>
          </div>
    </div>
 </div>
    <!-- our team  end-->
   
   
   
      <!-- doctor  -->
      <div >
       <div class="main-wrap">
        <div class="block row">
        <div class="col-12 col-md-2 col-sm-1 col-lg-1"></div>
        <div class="col-12 col-md-8 col-sm-10 col-lg-10">
            <div class="col digital-inner-text text-center">
                <img src="files/testimonial_user_img.png" alt="image not laod" class="img-responsive'">
                <h1 id="main-heading">Steven Strange</h1>
                <h3 id="small-text" style ="color:#ff9248">@Doctor</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                <p style="color:#828282">2 hours ago</p>
        </div>
        </div>
      
    </div>
    

    <!--  doctor end-->
   
   <div  style ="background-color:#f8f8f8">
       <div class="container" style="padding: 30px;">
           <div class="col-12 col-sm-12 col-md-3 col-lg-3">
               <img  src="files/client_logo_01.png" alt="image not laod " class="img-responsive"></img>
           </div>
           <div class="col-12 col-sm-12 col-md-3 col-lg-3">
               <img  src="files/client_logo_02.png" alt="image not laod " class="img-responsive"></img>
           </div>
           <div class="col-12 col-sm-12 col-md-3 col-lg-3">
               <img  src="files/client_logo_03.png" alt="image not laod " class="img-responsive"></img>
           </div>
           <div class="col-12 col-sm-12 col-md-3 col-lg-3">
               <img  src="files/client_logo_04.png" alt="image not laod " class="img-responsive"></img>
           </div>
        
       </div>
   </div>
   </main>

    <footer role="contentinfo">
        <div class="container">
        <div class="row">
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">About Us</h2>
            <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
            <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
            <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">Industries</h2>
            <ul class="footer-bullets">
                <li><a href="#">Health Care</a></li>
                <li><a href="#">Non Profit</a></li>
                <li><a href="#">Real Estate</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Hospitality</a></li>
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Finance</a></li>
                
            </ul>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">Latest Posts</h2>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
              <h2 class="footer-col-headings">Get In Touch</h2>
              <div class="address-cell">
                <!--  <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
                    <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
                      <p class="content-section">795 Folsom Ave, Suite 600, San Francisco CA 94107795</p>
                    
              </div>
            <div class="get-in-touch-section">
               <!-- <img src="files/receiver_icon.png" class="footer-img img-fluid img-responsive" alt="receiver_icon" title=""> -->
                <i class="fa fa-phone top-content-inline contact-icons"></i>
                <div class="content-section">
                <p class="content-section"><a href="tel:(+123) 4567890">(+123) 4567890</a><br>
                    <a href="tel:(+123) 4567891">(+123) 4567891</a>
                </p>
               
                </div>
            </div>
            <div class="get-in-touch-section">
               <!--  <img src="files/url_icon.png" class="footer-img img-fluid img-responsive" alt="url_icon" title=""> -->
                <i class="fa fa-globe contact-icons"></i>
                <div class="content-section">
                <p class="content-section">
                    <a href="mailto:info@htmlstream.com">info@htmlstream.com</a><br>
                    <a href="www.htmlstream.com">www.htmlstream.com</a>         
                </p>
                </div>
            </div>
          </div>
          </div>


      <!-- /.container -->
    </div>
    
            <div class="footer-script">
                <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-4">
                <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
            </div>
            <div class="col-xs-12 col-md-5 col-sm-4 no-padding">
                <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
            </div>
             <div class="col-xs-12 col-md-4 col-sm-4 social-block">
                <p class="top-content-inline">Follow us on: </p>
                <div class="social-icons top-content-inline">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
            </div>
            </div>
        
      </div>
    </footer>
     
    <!-- /footer -->

  </main>

  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">About Us</h2>
          <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Industries</h2>
          <ul class="footer-bullets">
            <li><a href="#">Health Care</a></li>
            <li><a href="#">Non Profit</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Hospitality</a></li>
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Finance</a></li>

          </ul>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Latest Posts</h2>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Get In Touch</h2>
          <div class="address-cell">
            <!--  <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
            <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
            <p class="content-section">795 Folsom Ave, Suite 600, San Francisco CA 94107795</p>

          </div>
          <div class="get-in-touch-section">
            <!-- <img src="files/receiver_icon.png" class="footer-img img-fluid img-responsive" alt="receiver_icon" title=""> -->
            <i class="fa fa-phone top-content-inline contact-icons"></i>
            <div class="content-section">
              <p class="content-section"><a href="tel:(+123) 4567890">(+123) 4567890</a><br>
                <a href="tel:(+123) 4567891">(+123) 4567891</a>
              </p>

            </div>
          </div>
          <div class="get-in-touch-section">
            <!--  <img src="files/url_icon.png" class="footer-img img-fluid img-responsive" alt="url_icon" title=""> -->
            <i class="fa fa-globe contact-icons"></i>
            <div class="content-section">
              <p class="content-section">
                <a href="mailto:info@htmlstream.com">info@htmlstream.com</a><br>
                <a href="www.htmlstream.com">www.htmlstream.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- /.container -->
    </div>

    <div class="footer-script">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-4">
            <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
          </div>
          <div class="col-xs-12 col-md-5 col-sm-4 no-padding">
            <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 social-block">
            <p class="top-content-inline">Follow us on: </p>
            <div class="social-icons top-content-inline">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-linkedin"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <!-- /footer -->

</main>

  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">About Us</h2>
          <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Industries</h2>
          <ul class="footer-bullets">
            <li><a href="#">Health Care</a></li>
            <li><a href="#">Non Profit</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Hospitality</a></li>
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Finance</a></li>

          </ul>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Latest Posts</h2>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
        </div>
        <div class="col col-xs-12 col-md-3 col-sm-3">
          <h2 class="footer-col-headings">Get In Touch</h2>
          <div class="address-cell">
            <!--  <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
            <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
            <p class="content-section">795 Folsom Ave, Suite 600, San Francisco CA 94107795</p>

          </div>
          <div class="get-in-touch-section">
            <!-- <img src="files/receiver_icon.png" class="footer-img img-fluid img-responsive" alt="receiver_icon" title=""> -->
            <i class="fa fa-phone top-content-inline contact-icons"></i>
            <div class="content-section">
              <p class="content-section"><a href="tel:(+123) 4567890">(+123) 4567890</a><br>
                <a href="tel:(+123) 4567891">(+123) 4567891</a>
              </p>

            </div>
          </div>
          <div class="get-in-touch-section">
            <!--  <img src="files/url_icon.png" class="footer-img img-fluid img-responsive" alt="url_icon" title=""> -->
            <i class="fa fa-globe contact-icons"></i>
            <div class="content-section">
              <p class="content-section">
                <a href="mailto:info@htmlstream.com">info@htmlstream.com</a><br>
                <a href="www.htmlstream.com">www.htmlstream.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- /.container -->
    </div>

    <div class="footer-script">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-4">
            <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
          </div>
          <div class="col-xs-12 col-md-5 col-sm-4 no-padding">
            <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 social-block">
            <p class="top-content-inline">Follow us on: </p>
            <div class="social-icons top-content-inline">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-linkedin"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <!-- /footer -->

</body>

<!-- js -->
<script src="js/site.all.js"></script>



</html>