<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Contact US</title>

  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <!-- set base -->
  <base href="">

  <!-- open graph -->
  <meta property="og:url" content="https://taotastic.com/contact-us.html.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Contact US">
  <meta property="og:description" content="">
  <meta property="og:image" content="{{page.image}}">

  <!-- icons -->
  <link theme-icon="" href="resources/icon.png" rel="icon">
  <meta theme-color="" content="#888" name="msapplication-TileColor">
  <meta theme-color="" content="#888" name="msapplication-TileImage">
  <link theme-icon="" href="resources/icon.png" rel="apple-touch-icon">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



  <!-- css -->
  <link type="text/css" href="css/site.min.css" rel="stylesheet">

  <!-- google maps -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>



<style taotastic-settings></style></head>

<body class="content" data-lastmodified="2019-05-02T11:02:40+0000" data-template="default" data-tags="" show-cart="false">
  <header role="banner">

    <div class="top-bar row">
      <div class="container">
        <div class="col-xs-4 col-md-4 col-sm-4 contact-block">
          <i class="fa fa-phone top-content-inline contact-icons"></i>
          <p class="top-content-inline"><a href="tel:+1-888-888-8888">+1-888-888-8888</a></p>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 text-center-center">
          <i class="fa fa-envelope top-content-inline contact-icons"></i>
          <p class="top-content-inline"><a href="mailto:info@taotastic.com">info@taotastic.com</a></p>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 text-center-center social-block">
          <p class="top-content-inline mobile-display">Follow us on: </p>
          <div class="social-icons top-content-inline text-center-right">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-background-color">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light justify-content-end">
          <div class="container">
            <div class="container-width">

              <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
                  <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index"><img theme-logo="" src="files/TaoTastic_logo.png"></a>

              </div>
              <div id="header-primary-menu" class="primary-menu collapse navbar-collapse collapse navbar-collapse navbar-ex1-collapse">

                <ul taotastic-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto"><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Health Care</a></div></li><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Construction</a></div></li><li><a class="nav-link" href="#">About US</a></li><li><a class="nav-link" href="#">Contact US</a></li></ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- /header -->

  <main id="home" class="container-fluid no-padding default-padding" role="main"><!-- Index Banner Start -->
<div class="block row index-cover-img" data-background-image="files/contact-us_nav_header_img.png" style="background-image: url('files/contact-us_nav_header_img.png'); background-repeat: no-repeat; background-size: cover; ">
 <div class="index-banner-text-wrap big-top-spacing container-width">
 <div class="col-xs-12 col-md-12 col-sm-12">
 <div class="col-xs-1 col-md-2 col-sm-1 col-lg-1"></div>
 <div class="col-xs-10 col-md-8 col-sm-10 col-lg-10">
 <div class="col index-banner-text">

 <h1 style="color:#ff9248 ; padding-bottom:40px">Contact Us</h1>
 <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
 Ipsum is that it has a more-or-less normal distribution </h3>
 <div class="col global-btn" style="margin-top:40px">
 <p><a title="Request a Consultant" href="#">Request a Consultant</a></p>
 </div>
 </div>
 </div>
 </div>
 </div>
</div>
<!-- /.Index Banner End -->

<!-- Digital Evolution Start -->

 <div class="block row main-wrap">
 <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
 <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10">
 <div class="col digital-inner-text text-center">
 <h1 id="main-heading">Keep In Touch</h1>
 <h3 id="small-text " class="fade-color">Your business glow with less stress and less cost.</h3>
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
 <div class="col col col-xs-8 col-md-6 col-sm-4 col-lg-4">
 <p class="center-border"><br></p>
 </div>
 </div>
 </div>
 </div>
 </div>

<!-- /.End -->


<!-- contact us -->
<div class="block row">
 <div class="container">
 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
 <div class="case-study-main" style="margin-bottom : 30px">
 <img class="case-study-img" alt="image not laod" src="files/contact_us_bg.png">
 <div class="col about-us-inner">
 <div class="col Address">
 <h2>
 Our Address
 </h2>
 <p class="about-us-outline"></p>
 <p>795 Folosom Ave, Suit 600 </p>
 <p>San Francisco , CA 94107 795 </p>
 </div>
 <div class="col Address">
 <h2>
 Call us
 </h2>
 <p class="about-us-outline"></p>
 <p> (+123), 4567890</p>
 <p>(+123), 4567890</p>
 </div>
 <div class="col Address">
 <h2>
 Our Address
 </h2>
 <p class="about-us-outline"></p>
 <p> 795 Folosom Ave, Suit 600</p>
 <p>San Francisco , CA 94107 795 </p>
 </div>
 </div>
 </div>
 </div>
 <div class="col col-12 col-sm-12 col-md-6 col-lg-6">

 <div taotastic-plugin type="form" form="contact-us" class="login100-form"><form id="contact-us" class="form-font" action="https://admin.taotastic.com:443/api/submissions/submit" method="post" data-site="taotastic" data-success="" data-error="" data-recaptcha-error="Invalid reCAPTCHA" taotastic-form ><input name="siteid" type="hidden" value="taotastic"><input name="formid" type="hidden" value="contact-us"><div class="wrap-input100 validate-input " data-id="name" data-label=" Full Name"  data-type="text" data-required="true"><label class="label-input100" for="name"> Full Name</label><input id="name" name="name" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="email" data-label="Email"  data-type="text" data-required="false"><label class="label-input100" for="email">Email</label><input id="email" name="email" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="preferred" data-label="Phone"  data-type="text" data-required="false"><label class="label-input100" for="preferred">Phone</label><input id="preferred" name="preferred" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="comments" data-label="How can we help you grow?"  data-type="textarea" data-required="false"><label class="label-input100" for="comments">How can we help you grow?</label><textarea id="comments" name="comments" placeholder="" class="input100"></textarea></div><div class="g-recaptcha-holder" data-sitekey=""></div><button type="submit" class=" contact-us-button">Submit</button><span class="loading"><!-- ack: https://github.com/jxnblk/loading --><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></g></svg></span><span class="error">There was an error submitting your form</span></form></div>

 </div>
 </div>
</div>





<!-- contact us end --></main>

  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-6 col-sm-6 col-lg-3 col-12">
          <h2 class="footer-col-headings">About Us</h2>
          <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
          <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
        </div>
        <div class="col col-xs-12 col-md-6 col-sm-6 col-lg-3 col-12">
          <h2 class="footer-col-headings">Industries</h2>
          <ul class="footer-bullets">
            <li><a href="#">Health Care</a></li>
            <li><a href="#">Non Profit</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Hospitality</a></li>
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Finance</a></li>

          </ul>
        </div>
        <div class="col col-xs-12 col-md-6 col-sm-6 col-lg-3 col-12">
          <h2 class="footer-col-headings">Latest Posts</h2>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
          <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
          <p class="latest-post-text">May 08, 2017</p>
        </div>
        <div class="col col-xs-12 col-md-6 col-sm-6 col-lg-3 col-12">
          <h2 class="footer-col-headings">Get In Touch</h2>
          <div class="address-cell">
            <!--  <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
            <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
            <p class="content-section">795 Folsom Ave, Suite 600, San Francisco CA 94107795</p>

          </div>
          <div class="get-in-touch-section">
            <!-- <img src="files/receiver_icon.png" class="footer-img img-fluid img-responsive" alt="receiver_icon" title=""> -->
            <i class="fa fa-phone top-content-inline contact-icons"></i>
            <div class="content-section">
              <p class="content-section"><a href="tel:(+123) 4567890">(+123) 4567890</a><br>
                <a href="tel:(+123) 4567891">(+123) 4567891</a>
              </p>

            </div>
          </div>
          <div class="get-in-touch-section">
            <!--  <img src="files/url_icon.png" class="footer-img img-fluid img-responsive" alt="url_icon" title=""> -->
            <i class="fa fa-globe contact-icons"></i>
            <div class="content-section">
              <p class="content-section">
                <a href="mailto:info@htmlstream.com">info@htmlstream.com</a><br>
                <a href="www.htmlstream.com">www.htmlstream.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- /.container -->
    </div>

    <div class="footer-script">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-4">
            <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
          </div>
          <div class="col-xs-12 col-md-5 col-sm-4 no-padding">
            <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 social-block">
            <p class="top-content-inline">Follow us on: </p>
            <div class="social-icons top-content-inline">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-linkedin"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <!-- /footer -->

</body>

<!-- js -->
<script src="js/site.all.js"></script>


</html>