<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>TaoTastic</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="World Class Business Solutions">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- set base -->
    <base href="">

    <!-- open graph -->
    <meta property="og:url" content="https://taotastic.com/index.html.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TaoTastic">
    <meta property="og:description" content="World Class Business Solutions">
    <meta property="og:image" content="{{page.image}}">

    <!-- icons -->
    <link theme-icon="" href="resources/icon.png" rel="icon">
    <meta theme-color="" content="#888" name="msapplication-TileColor">
    <meta theme-color="" content="#888" name="msapplication-TileImage">
    <link theme-icon="" href="resources/icon.png" rel="apple-touch-icon">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



    <!-- css -->
    <link type="text/css" href="css/site.min.css" rel="stylesheet">

    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>




  <style taotastic-settings></style></head>

  <body class="home" data-lastmodified="2019-05-02T11:02:40+0000" data-template="home" data-tags="" show-cart="false">
<header role="banner">

<div taotastic-plugin type="component" component="header.html" runat="publish" ><div class="top-bar row">

            <div class="container">
            <div class="col-xs-4 col-md-4 col-sm-4 contact-block">
                <div class="col">
                    <i class="fa fa-phone top-content-inline contact-icons"></i>
                    <p class="top-content-inline"><a href="tel:804.464.7879">804.464.7879</a></p>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4 text-center-center">
                <div class="col">
                    <i class="fa fa-envelope top-content-inline contact-icons"></i>
                    <p class="top-content-inline"><a href="mailto:Info@TaoTastic.com">Info@TaoTastic.com</a></p>
                </div>
            </div>
            <div class="col col-xs-4 col-md-4 col-sm-4 text-center-center social-block">

                    <p class="top-content-inline mobile-display">Follow us on: </p>

                <div class="social-icons top-content-inline text-center-right">
                   <a title="" href=" https://www.facebook.com/tao.tastic.9" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a title="" href="https://twitter.com/tao_tastic" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a title="" href="https://www.linkedin.com/company/taotastic-inc/about" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            </div>
            </div>
        </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
        <div class="nav-background-color">
            <div class="container">
              <nav class="navbar navbar-expand-md navbar-light justify-content-end">

          <div class="container">
          <div class="container-width">


    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html"><img theme-logo="" src="files/TaoTastic_logo.png"></a>

    </div>
        <div id="header-primary-menu" class="primary-menu collapse navbar-collapse collapse navbar-collapse navbar-ex1-collapse">

          <ul taotastic-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto"><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Health Care</a></div></li><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Construction</a></div></li><li><a class="nav-link" href="#">About US</a></li><li><a class="nav-link" href="#">Contact US</a></li></ul>
        </div>
        </div>
        </div>
      </nav>
    </div>
    </div>
</header>
    <!-- /header -->

    <main id="home" class="container-fluid no-padding" role="main"><!-- Index Banner Start -->
<div class="block row index-cover-img" data-background-image="files/nav_header_img.png" style="background-image: url('files/nav_header_img.png'); background-repeat: no-repeat; background-size: cover; ">
 <div class="index-banner-text-wrap big-top-spacing container-width">
 <div class="col-xs-12 col-md-12 col-sm-12">
 <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"></div>
 <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
 <div class="col index-banner-text">
 <br>
 <br>
 <br>
 <br><br><h1></h1><br><br><h2>TaoTastic is a US based business development company
that offers on-demand technology focused business solutions .</h2>
 <br><h3>We offer custom software development and consulting services to help your business grow with less stress and less cost.
Our team has the technology prowess to power your business forward at every stage of your organizations life from inception onward.

We have been refining our expertise across multiple industries to drive success and minimize risk no matter what sector your organization occupy.
Read on to find out more about the benefits of partnering with us. </h3>

 <br><br>

<div class="col global-btn" style="margin-top:40px">
<p><a title="Request a Consultant" data-toggle="modal" data-target="#exampleModal" href="#" target="">Request a Consultation</a></p>
</div>

 </div>
 </div>
 </div>
 </div>
</div>



 <div class="block row modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
 <div class="modal-header">
 <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
 <span aria-hidden="true">×</span>
 </button>
 </div>
 <div class="modal-body">
 <div taotastic-plugin="" type="form" form="contact-us" class="login100-form"><form id="contact-us" class="form-font" action="https://admin.taotastic.com:443/api/submissions/submit" method="post" data-site="taotastic" data-success="" data-error="" data-recaptcha-error="Invalid reCAPTCHA" taotastic-form ><input name="siteid" type="hidden" value="taotastic"><input name="formid" type="hidden" value="contact-us"><div class="wrap-input100 validate-input " data-id="name" data-label=" Full Name"  data-type="text" data-required="true"><label class="label-input100" for="name"> Full Name</label><input id="name" name="name" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="email" data-label="Email"  data-type="text" data-required="false"><label class="label-input100" for="email">Email</label><input id="email" name="email" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="preferred" data-label="Phone"  data-type="text" data-required="false"><label class="label-input100" for="preferred">Phone</label><input id="preferred" name="preferred" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="comments" data-label="How can we help you grow?"  data-type="textarea" data-required="false"><label class="label-input100" for="comments">How can we help you grow?</label><textarea id="comments" name="comments" placeholder="" class="input100"></textarea></div><div class="g-recaptcha-holder" data-sitekey=""></div><button type="submit" class=" contact-us-button">Submit</button><span class="loading"><!-- ack: https://github.com/jxnblk/loading --><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></g></svg></span><span class="error">There was an error submitting your form</span></form></div>
 </div>
 <div class="modal-footer">
 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 </div>
 </div>
 </div>
</div>




<!-- /.Index Banner End -->

<!-- Digital Evolution Start -->
 <div class="block row main-wrap">
 <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
 <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10">
 <div class="col digital-inner-text text-center">
 <h1 id="main-heading">Embrace Your Own Digital Evolution</h1>
 <h3 id="small-text">Grow your organization with less stress and less cost.</h3>
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
 <div class="col col col-xs-8 col-md-6 col-sm-4 col-lg-4">

 </div>
 </div>
 </div>
 </div>
 </div>

<!-- /.End -->









<!-- Services Section Start -->

 <div class="block row">

 <div class="col col-12 col-md-12 col-sm-12 col-lg-2"></div>

 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <p><img src="files/health_care_icon.png" class="display-inline-content" alt="health care" title=""></p>
 </div>
<h4 id="small-text" class="service-text">Health Care</h4>

 </div>
 </div>

 <div class="col col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/nonprofit_icon.png" class="display-inline-content" alt="non profit" title="">
 </div>
<h4 id="small-text" class="service-text">Non Profit</h4>

 </div>
 </div>

 <div class="col col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/realestate_icon.png" class="display-inline-content" alt="realestate" title="">
 </div>
<h4 id="small-text" class="service-text">Real Estate</h4>

 </div>
 </div>

 <div class="col col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/education_icon.png" class="display-inline-content" alt="education_icon" title="">
 </div>
 <h4 id="small-text" class="service-text">Education</h4>

 </div>
 </div>

 </div>


 <div class="block row">
 <div class="col-12 col-md-12 col-sm-12 col-lg-2"></div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <p><img src="files/hospitality_icon.png" class="display-inline-content" alt="hospitality_icon" title=""></p>
 </div>

 <h4 id="small-text" class="service-text">Hospitality</h4>

 </div>
 </div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <p><img src="files/automotive_icon.png" class="display-inline-content" alt="automotive_icon" title=""></p>
 </div>
<h4 id="small-text" class="service-text">Automotive</h4>
 </div>
 </div>

 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <p><img src="files/finance_icon.png" class="display-inline-content" alt="finance_icon" title=""></p>
 </div>
 <h4 id="small-text" class="service-text">Finance</h4>

 </div>
 </div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <p><img src="files/agriculture_icon.png" class="display-inline-content" alt="agriculture_icon" title=""></p>
 </div>
 <h4 id="small-text" class="service-text">Agriculture</h4>

 </div>
 </div>
 </div>


 <div class="block row" data-background-color="#ffffff" style="background-color: rgb(255, 255, 255);">
 <div class="col-12 col-md-12 col-sm-12 co-lg-2"></div>
 <div class="col-12 col-md-12 col-sm-12 col-lg-2"></div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/retail_icon.png" class="display-inline-content" alt="retail_icon" title="">
 </div>
 <h4 id="small-text" class="service-text">Retail</h4>

 </div>
 </div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/meeting_icon.png" class="display-inline-content" alt="meeting_icon" title="">
 </div>
<h4 id="small-text" class="service-text">Meeting</h4>

 </div>
 </div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/Information.png" class="display-inline-content" alt="health care icon" title="">
 </div>
 <h4 id="small-text" class="service-text">Information</h4>

 </div>
 </div>
 <div class="col-6 col-md-3 col-sm-3 col-lg-2">
 <div class="col services-inner">
 <div class="img-wrap">
 <img src="files/house.png" class="display-inline-content" alt="health care icon" title="">
 </div>
 <h4 id="small-text" class="service-text">Construction</h4>

 </div>
 </div>
 </div>

 <div class="block row">
 <div class="col-xs-12 col-md-2 col-sm-1 col-lg-1"></div>
 <div class="col-xs-12 col-md-8 col-sm-10 col-lg-10 text-center">
 <div class="col services-p-taxt">

 <h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">We have a broad understanding of how digitalism has disrupted many industries. By collaborating with us we can help you harness the benefits of these technological disruptors to drive you ahead in your industry.</h3></div>
 </div>
 </div>

<!-- /.Services End -->

<!-- Get Free Code Start -->
<div class="block row get-code-img" data-background-image="files/get_free_code_today_bg.png" style="background-image: url('files/get_free_code_today_bg.png'); background-repeat: no-repeat;background-size: cover;">
 <div class="get-code-text-wrap">
 <div class="col col-xs-12 col-md-12 col-sm-12">

 <h1>Find out how we can help grow your organization.</h1><br><h1></h1></div>
 <p></p>
 <div class="col global-btn-index">
 <p> <a data-toggle="modal" data-target="#exampleModal" href="#" target="" title="">Request a Consultation</a></p>
 </div>

 </div>
</div>
 <!-- /Get Free Code End -->

<!-- Our Process Start -->
 <div class="block row our-process-img" data-background-image="files/process_section_bg.png" style="background-image: url('files/process_section_bg.png'); background-repeat: no-repeat;">
 <div class="container">
 <div class="col-xs-12 col-md-12 col-sm-12">
 <div class="col-xs-1 col-md-2 col-sm-2 col-lg-2"></div>
 <div class="col-xs-10 col-md-8 col-sm-8 col-lg-8">
 <div class="col our-process-text text-center">
 <br><br><h1 id="main-heading">Our process is straightforward, powerful, and the results are impactful.
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-xs-2 col-md-3 col-sm-4 col-lg-5"></div>
 <div class="col col col-xs-6 col-md-4 col-sm-4 col-lg-2">
 <p class="center-border"><br></p>
 </div>
 </div>
 </h1>
 </div>
 </div>
 </div>
 <div class="parent-row col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="child-col col-xs-10 col-md-4 col-sm-12 col-lg-4">
 <div class="col our-process-inner">
 <p><img src="files/step01_icon.png" class="img-center display-inline-content" alt="offer icon" title=""></p>
 <div class="col services-p-taxt">
 <p>We first asking the right questions to define your growth objectives and organizational needs.&nbsp;</p>
 </div>
 <p id="p-number">1</p>

 </div>
 </div>
 <div class="child-col col-xs-10 col-md-4 col-sm-12 col-lg-4">
 <div class="col our-process-inner">
 <p> <img src="files/step02_icon.png" class="display-inline-content img-center" alt="question icon" title=""></p>
 <div class="col services-p-taxt">
 <p>We conduct deep research, analyzing and synthesizing the results to isolate insights that we turn into&nbsp; value add solutions.&nbsp;</p>
 </div>
 <p id="p-number">2</p>
 </div>
 </div>
 <div class="child-col col-xs-10 col-md-4 col-sm-12 col-lg-4">
 <div class="col our-process-inner">
 <p><img src="files/step03_icon.png" class="display-inline-content img-center" alt="research icon" title=""></p>
 <div class="col services-p-taxt">
 <p>Only then do we develop robust strategies or products to help your organization reach your goals and stay on track.</p>
 </div>
 <p id="p-number">3</p>
 </div>
 </div>
 </div>
 <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2"></div>
 <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
 <div class="col our-process-text text-center" style="margin:80px 0px">
 <h3 id="main-heading">From first touch to implementation to result analysis we are your committed partner.&nbsp; We are here to listen, inform, and deliver world class solutions.</h3>
 </div>
 </div>

 </div>
 </div>


 <div class="block row full-width">

 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 no-padding">
 <div class="col our-process-text text-center">



 <div class="block row" data-background-color="#ffffff" style="background-color: rgb(255, 255, 255);">
<div class="col digital-inner-taxt text-center">
 <br><h1 id="main-heading-data" data-text-color="#400000" style="color: rgb(64, 0, 0);">What Makes TaoTastic Different</h1>
 <br><h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">Every project has its own specific set of hurdles, and demands a team with a unique cross-section of skill sets. That's why we've always strive to offer the most efficient, flexible and affordable development solutions around.</h3>
</div>
<div class="parent-row col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="child-col col-xs-10 col-md-3 col-sm-12 col-lg-3">
 <div class="col">
 <p><img src="files/expert.png" class="img-center display-inline-content taotastic-diff" alt="offer icon"></p>
 <h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">Project Specific Expertise</h3>
 <div class="col services-p-taxt">

 <h4 data-text-color="#400000" style="color: rgb(64, 0, 0);">You'll be matched with developers and project managers who understand the complexities of your vertical, including specific technology and industry requirements.</h4></div>

 </div>
 </div>
 <div class="child-col col-xs-10 col-md-3 col-sm-12 col-lg-3">
 <div class="col">
 <p><img src="files/team2.png" class="img-center display-inline-content taotastic-diff" alt="offer icon" title=""></p>
 <h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">Selected Resourced Teams</h3>


 <h4 data-text-color="#400000" style="color: rgb(64, 0, 0);">Whether you're looking for a single resource to augment your current team or an end-to-end development super group, we'll align your development team with your specific set of needs.</h4></div>
 </div>
 <div class="child-col col-xs-10 col-md-3 col-sm-12 col-lg-3">
 <div class="col">
 <p><img src="files/coordination.png" class="img-center display-inline-content taotastic-diff" alt="offer icon" title=""></p>
 <h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">Real Time Coordination</h3>
 <br><div class="col services-p-taxt">

 <h4 data-text-color="#400000" style="color: rgb(64, 0, 0);">We emphasize collaboration and transparency in all our projects. In addition to being available on-demand during your working hours, we'll provide you with weekly status calls.</h4></div>

 <br></div>
 </div>
 <div class="child-col col-xs-10 col-md-3 col-sm-12 col-lg-3">
 <div class="col">
 <p><img src="files/project-owner.png" class="img-center display-inline-content taotastic-diff" alt="offer icon"></p>
 <h3 data-text-color="#400000" style="color: rgb(64, 0, 0);">Complete Project Ownership</h3>
 <div class="col services-p-taxt">

 <h4 data-text-color="#400000" style="color: rgb(64, 0, 0);">Once we complete your project to your exact specifications, we release your proprietary work products and intellectual property with no licensing, no fees and no hassles.</h4></div>

 </div>
 </div>

 </div>
</div>

 </div>
 </div>
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
 <div class="col col-xs-8 col-md-6 col-sm-4 col-lg-4">

 <br><br></div>
 </div>
 </div>
<!-- Our Process End -->



<!-- Development Section Start -->
 <div class="block row development-wrap no-padding" data-background-color="#422100" style="background-color: rgb(66, 33, 0);">
 <div class="col-md-12">
 <div class="col our-process-text text-center">
 <br><br><h1 data-text-color="#ffffff" style="color: rgb(255, 255, 255);">Our Solutions are Robust and Comprehensive</h1>

 </div>
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-xs-2 col-md-3 col-sm-4 col-lg-4"></div>
 <div class="col col-xs-8 col-md-6 col-sm-4 col-lg-4">

 </div>
 </div>
</div>


 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0); background-size: cover; background-position: center center; background-repeat: no-repeat;" data-background-size="cover" data-background-position="center center" data-background-repeat="no-repeat" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/health_care_icon.png" class="display-inline-content" alt="Development" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Web Design</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>


 <!--end image -->

 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">

 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">

 <div class="col development-inner">
 <p><a href="#">
 <img src="files/custom_software_icon.png" class="display-inline-content" alt="Development custom_software" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Custom Software</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>

 <!--end image -->
 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/mobile_app_development_icon.png" class="display-inline-content" alt=" Development mobile_app" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Mobile App Development</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->

 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/custom_database_development_icon.png" class="display-inline-content" alt="Development" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Custom Database Development</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->

 </div>


 <div class="block row development-wrap no-padding">

 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#"> <img src="files/quote_cash_services_icon.png" class="display-inline-content" alt="Development" title=""></a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Quote Cash Services</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->
 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/strategic_guidance_icon.png" class="display-inline-content" alt="Development strategic_guidance" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Strategic Guidance</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->
 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/intrerim_exectutive_icon.png" class="display-inline-content" alt="Development intrerim_exectutive" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Intrerim Exectutive</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->
 <div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 no-padding">
 <div class="block row development-main no-padding" style="background-color: rgb(66, 33, 0);" data-background-color="#422100">
 <div class="col development-inner">
 <p><a href="#">
 <img src="files/sales_tools_and_training_icon.png" class="display-inline-content" alt="Development sales_tools_and_training" title="">
 </a></p>
 <h4 id="small-text" class="development-text">
 <a href="#">Sales Tools And Training</a>
 </h4>
 </div>
 <div class="overlay"></div>
 </div>
 </div>
 <!--end image -->


 </div>
<!-- Development Section End -->
<!-- leading software development -->
 <div class="block row" data-background-image="files/leading_software_company_bg.png" style="background-image: url('files/leading_software_company_bg.png'); background-repeat: no-repeat;">
 <div class="container">
 <div class="col-12 col-md-12 col-sm-12">
 <div class="col our-process-text set-margin">
 <h1 id="main-heading">Our Team has Skills and Experience to Impact</h1>
 </div>
 </div>
 <div class="col-12 col-md-12 col-sm-12 col-lg-12">
 <div class="col-12 col-md-3 col-sm-12 col-lg-3">
 <div class="col leading-development-inner no-padding">
 <p><img src="files/mobile_app_developer.png" class="display-inline-content img-center team-skill-image" alt="" title=""></p><h4 data-text-alignment="center" style="color: rgb(64, 0, 0); text-align: center;" data-text-color="#400000" class="team-center-brown">Mobile App Developers</h4>
 <h5 data-text-alignment="center" data-text-color="#e67300" style="color: rgb(230, 115, 0); text-align: center;">42,000+ hrs</h5><h5 data-text-alignment="center" data-text-color="#400000" style="color: rgb(64, 0, 0); text-align: center;">400+ Projects</h5>



 </div>
 </div>
 <div class="col-12 col-md-3 col-sm-12 col-lg-3">
 <div class="col leading-development-inner">
 <p><img src="files/bussiness_consultant.png" class="display-inline-content img-center team-skill-image"></p><h5 style="color: rgb(64, 0, 0); text-align: center;" data-text-color="#400000" data-text-alignment="center">Business Consultants</h5>
 <h5 data-text-color="#e67300" data-text-alignment="center" style="color: rgb(230, 115, 0); text-align: center;">2,600+ hrs</h5><h5 data-text-alignment="center" data-text-color="#400000" style="color: rgb(64, 0, 0); text-align: center;">25+ Projects</h5><div class="col leading-text no-padding">


 </div>

 </div>
 </div>
 <div class="col-12 col-md-3 col-sm-12 col-lg-3">
 <div class="col leading-development-inner">
 <p><img src="files/Software_engineer.png" class="display-inline-content img-center team-skill-image"></p><h5 data-text-color="#400000" data-text-alignment="center" style="color: rgb(64, 0, 0); text-align: center;">Software Engineers</h5>
 <h5 data-text-alignment="center" data-text-color="#e67300" style="color: rgb(230, 115, 0); text-align: center;">95,000+ hrs</h5><h5 data-text-color="#400000" data-text-alignment="center" style="color: rgb(64, 0, 0); text-align: center;">600+ Projects</h5><div class="col leading-text no-padding">


 </div>

 </div>
 </div>
 <div class="col-12 col-md-3 col-sm-12 col-lg-3">
 <div class="col leading-development-inner no-padding">
 <p><img src="files/database_developer.png" class="display-inline-content img-center team-skill-image"></p><h5 data-text-color="#400000" data-text-alignment="center" style="color: rgb(64, 0, 0); text-align: center;">Database Developers</h5>
 <h5 data-text-alignment="center" data-text-color="#e67300" style="color: rgb(230, 115, 0); text-align: center;">72,000+ hrs</h5><h5 data-text-alignment="center" data-text-color="#400000" style="color: rgb(64, 0, 0); text-align: center;">300+ Projects</h5><div class="col leading-text no-padding">


 </div>

 </div>
 </div>
 </div>

 </div>


 </div>

 <!-- leading software development End -->

 <!-- case study -->

 <!--<div class="block row" style="background-color:#f8f8f8">
 <div class="container" style="padding-top:80px;">
 <div class="block row">
 <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
 <div class="case-study-main" style="margin-bottom : 30px">

 <div class="col case-study-inner">




 </div>
 </div><!--end image
 </div>
 <div class="col-sm-12 col-sm-12 col-md-8 col-lg-8">
 <div class="block row" style="margin-bottom: 10px;">
 <div class="col-md-6 col-lg-6">
 <div class="col case-study-sidebar no-padding">
 <p> </p>
 <div class="overlay">
 <div class="col case-study-sidebar-text"> <p>your bussiness grow with less streess and less cost </p>
 <div class="case-study-sidebar-outline"></div>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6 col-lg-6">
 <div class="col case-study-sidebar no-padding">

 <div class="overlay">
 <div class="col case-study-sidebar-text"> <p></p>your bussiness grow with less streess and less cost <p></p>
 <div class="case-study-sidebar-outline"></div>
 </div>
 </div>
 </div>

 </div>
 </div>
 <div class="block row">
 <div class="col-md-6 col-lg-6">
 <div class="col case-study-sidebar no-padding">

 <p> </p>
 <div class="overlay">
 <div class="col case-study-sidebar-text"><p> your bussiness grow with less streess and less cost</p>
 <div class="case-study-sidebar-outline"></div>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6 col-lg-6">
 <div class="col case-study-sidebar no-padding">

 <div class="overlay">
 <div class="col case-study-sidebar-text"><p> your bussiness grow with less streess and less cost </p>
 <div class="case-study-sidebar-outline"></div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="block row">
 <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center" style="margin:50px 50px 50px 0px;">
 <div class="col case-study-button">

 </div>
 </div>
 </div>
 </div>
 </div>
 <!-- case study End -->


 <!-- Let Get Started-->
 <div data-background-image="files/get_free_code_today_bg.png" class="section-setting" style=" background-image: url(files/get_free_code_today_bg.png); background-repeat: repeat; background-size: cover;">
 <div class="container">
 <div clas="block row ">
 <div class="col col-12 col-sm-12 col-md-12 col-lg-12 text-center margin-top-30 margin-bottom-40">
 <h2 class="text-uppercase font-size-36 margin-bottom-20">Have some questions?</h2>
 <p class="margin-bottom-20 font-size-18">We are here for you, give us a call or send us a message.&nbsp; We are always happy to hear from you.&nbsp; Let's work together to create solutions to propel your organization forward.</p>
 </div>
 <div class="block row">
 <div class="col-12 col-sm-12 col-md-6 col-lg-6 let-start-form">
 <div taotastic-plugin="" type="form" form="contact-us"><form id="contact-us" class="form-font" action="https://admin.taotastic.com:443/api/submissions/submit" method="post" data-site="taotastic" data-success="" data-error="" data-recaptcha-error="Invalid reCAPTCHA" taotastic-form ><input name="siteid" type="hidden" value="taotastic"><input name="formid" type="hidden" value="contact-us"><div class="wrap-input100 validate-input " data-id="name" data-label=" Full Name"  data-type="text" data-required="true"><label class="label-input100" for="name"> Full Name</label><input id="name" name="name" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="email" data-label="Email"  data-type="text" data-required="false"><label class="label-input100" for="email">Email</label><input id="email" name="email" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="preferred" data-label="Phone"  data-type="text" data-required="false"><label class="label-input100" for="preferred">Phone</label><input id="preferred" name="preferred" type="text" placeholder="" class="input100"></div><div class="wrap-input100 validate-input " data-id="comments" data-label="How can we help you grow?"  data-type="textarea" data-required="false"><label class="label-input100" for="comments">How can we help you grow?</label><textarea id="comments" name="comments" placeholder="" class="input100"></textarea></div><div class="g-recaptcha-holder" data-sitekey=""></div><button type="submit" class=" contact-us-button">Submit</button><span class="loading"><!-- ack: https://github.com/jxnblk/loading --><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></g></svg></span><span class="error">There was an error submitting your form</span></form></div>
 </div>
 <div class="col-12 col-sm-12 col-md-6 col-lg-5 margin-top-60 padding-left-30 padding-right-30 text-center">

 <div class="block row padding-xs-less" style="line-height: 25px;">
 <div class="col col-12 col-sm-12 col-md-12 col-lg-12" style="text-align:left">
 <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
 <p class="display-inline margin-left-15">
 <a href="#" class="color-inherit">Phone: 804.464.7879</a></p>

 </div>
 <div class="col col-12 col-sm-12 col-md-12 col-lg-12" style="text-align:left">
 <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
 <p class="display-inline margin-left-15">
 <a href="#" class="color-inherit">Mail: Info@TaoTastic.com</a></p>

 </div>

 <div class="col col-12 col-sm-12 col-md-12 col-lg-12 text-center">

 </div>
 </div>

 </div>
 </div>
 </div>
 </div>
 <!-- Let Get Started end -->
 </div></main>

   <footer role="contentinfo">
    <div taotastic-plugin="" type="component" component="footer.html" runat="publish" ><div class="main-footer-style">
<div class="container">
 <div class="row">
 <div class="col col-xs-12 col-md-3 col-sm-3">
 <h2 class="footer-col-headings">About Us</h2>
 <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
 <p>We accelerate growth by partnering with C-Suite executives, to design and execute success.</p>

 </div>
 <div class="col col-xs-12 col-md-3 col-sm-3">
 <h2 class="footer-col-headings">Industries</h2>
 <ul class="footer-bullets">
 <li><a href="#">Health Care</a></li>
 <li><a href="#">Non Profit</a></li>
 <li><a href="#">Real Estate</a></li>
 <li><a href="#">Education</a></li>
 <li><a href="#">Hospitality</a></li>
 <li><a href="#">Automotive</a></li>
 <li><a href="#">Finance</a></li>

 </ul>
 </div>
 <div class="col col-xs-12 col-md-3 col-sm-3">
 <h2 class="footer-col-headings">Latest Posts</h2>








 </div>
 <div class="col col-xs-12 col-md-3 col-sm-3">
 <h2 class="footer-col-headings">Get In Touch</h2>
 <div class="col address-cell">
 <!-- <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
 <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
 <p class="content-section">P. O. Box 1989<div>Hanover, VA 23116</div></p>

 </div>

 <div class="col">
 <i class="fa fa-phone fa-3x bottom-content-inline contact-icons"></i>
 <p class="top-content-inline"><a href="tel:804.464.7879">804.464.7879</a></p>
 <p></p>
 </div>

 <div class="col">
 <i class="fa fa-envelope fa-3x bottom-content-inline contact-icons"></i>
 <p class="top-content-inline"><a href="mailto:Info@TaoTastic.com">Info@TaoTastic.com</a></p>
 <p></p>
 </div>

 </div>
 </div>


 <!-- /.container -->
 </div>

 <div class="footer-script">
 <div class="container">

 <div class="row">
 <div class="col col-xs-12 col-md-3 col-sm-4">
 <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
 </div>
 <div class="col col-xs-12 col-md-5 col-sm-4 no-padding">
 <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
 </div>
 <div class="col col-xs-12 col-md-4 col-sm-4 social-block">
 <p class="top-content-inline">Follow us on: </p>
 <div class="social-icons top-content-inline">
 <i class="fa fa-facebook"></i>
 <i class="fa fa-twitter"></i>
 <i class="fa fa-linkedin"></i>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div></div>
  </footer>
    <!-- /footer -->

  </body>

  <!-- js -->
  <script src="js/site.all.js"></script>



</html>