<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>test</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- set base -->
    <base href="">

    <!-- open graph -->
    <meta property="og:url" content="/test.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="test">
    <meta property="og:description" content="">
    <meta property="og:image" content="{{page.image}}">

    <!-- icons -->
    <link theme-icon="" href="resources/icon.png" rel="icon">
    <meta theme-color="" content="#888" name="msapplication-TileColor">
    <meta theme-color="" content="#888" name="msapplication-TileImage">
    <link theme-icon="" href="resources/icon.png" rel="apple-touch-icon">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



    <!-- css -->
    <link type="text/css" href="css/site.min.css" rel="stylesheet">

    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    

  <style taotastic-settings></style></head>

  <body class="home" data-lastmodified="2019-04-23T10:14:46+0000" data-template="home" data-tags="" show-cart="false">
    <header role="banner">
        
        <div class="top-bar row">
            <div class="container">
            <div class="col-xs-4 col-md-4 col-sm-4 contact-block">
                <i class="fa fa-phone top-content-inline contact-icons"></i>
                <p class="top-content-inline"><a href="tel:+1-888-888-8888">+1-888-888-8888</a></p>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4 text-center-center">
                <i class="fa fa-envelope top-content-inline contact-icons"></i>
                <p class="top-content-inline"><a href="mailto:info@taotastic.com">info@taotastic.com</a></p>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4 text-center-center social-block">
                <p class="top-content-inline mobile-display">Follow us on: </p>
                <div class="social-icons top-content-inline text-center-right">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="nav-background-color">
            <div class="container">
              <nav class="navbar navbar-expand-md navbar-light justify-content-end">   
     
          <div class="container">
          <div class="container-width">
              
     
    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index"><img theme-logo="" src="resources/logo.png"></a>

    </div>
        <div id="header-primary-menu" class="primary-menu collapse navbar-collapse collapse navbar-collapse navbar-ex1-collapse">

          <ul taotastic-plugin="" type="menu" menu="primary" class="navbar-nav ml-auto"><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="animation-design.html">Animation Graphic Design</a></div></li><li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="construction.html">Construction</a></div></li><li><a class="nav-link" href="about-us.html">About US</a></li><li><a class="nav-link" href="contact-us.html">Contact US</a></li></ul>
        </div>
        </div>
        </div>
      </nav>
    </div>
    </div>
</header>
    <!-- /header -->

    <main id="home" class="container-fluid no-padding" role="main"><div class="block row"><div><div class="col col-md-12"><h2>Cras justo odio</h2></div></div></div><div class="block row">
 <div class="col col-md-12">
 
 <br><br><hr><h1 data-text-alignment="justify" style="text-align: justify;">Tap to update<div>this is a longer text and longer</div><div>this is another longer and longer</div><div>this is another longer and longer&nbsp;this is another longer and longer<br></div></h1><hr><p class="page-description"></p>
 <h3>Tap to update</h3><p data-text-alignment="justify" style="text-align: justify;">Let me add more paragraph&nbsp;Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.&nbsp;Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build.Let me add more paragraph Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the -prod flag for a production build. </p></div>
 </div>
 
 </main>

    <footer role="contentinfo">
        <div class="container">
        <div class="row">
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">About Us</h2>
            <p>We specialized in providing consulting and development services to companies to improve revenues.</p>
            <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
            <p>We accelerate growth by partenering with C-Suite executives, to design and execute success.</p>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">Industries</h2>
            <ul class="footer-bullets">
                <li><a href="#">Health Care</a></li>
                <li><a href="#">Non Profit</a></li>
                <li><a href="#">Real Estate</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Hospitality</a></li>
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Finance</a></li>
                
            </ul>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
            <h2 class="footer-col-headings">Latest Posts</h2>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
            <p class="latest-posts-link"><a href="#">Incredible Template</a></p>
            <p class="latest-post-text">May 08, 2017</p>
          </div>
          <div class="col col-xs-12 col-md-3 col-sm-3">
              <h2 class="footer-col-headings">Get In Touch</h2>
              <div class="address-cell">
                <!--  <img src="files/address_icon.png" class="footer-img img-fluid img-responsive" alt="address_icon" title=""> -->
                    <i class="fa fa-map-marker contact-icons content-section" aria-hidden="true" style="font-size: 50px;"></i>
                      <p class="content-section">795 Folsom Ave, Suite 600, San Francisco CA 94107795</p>
                    
              </div>
            <div class="get-in-touch-section">
               <!-- <img src="files/receiver_icon.png" class="footer-img img-fluid img-responsive" alt="receiver_icon" title=""> -->
                <i class="fa fa-phone top-content-inline contact-icons"></i>
                <div class="content-section">
                <p class="content-section"><a href="tel:(+123) 4567890">(+123) 4567890</a><br>
                    <a href="tel:(+123) 4567891">(+123) 4567891</a>
                </p>
               
                </div>
            </div>
            <div class="get-in-touch-section">
               <!--  <img src="files/url_icon.png" class="footer-img img-fluid img-responsive" alt="url_icon" title=""> -->
                <i class="fa fa-globe contact-icons"></i>
                <div class="content-section">
                <p class="content-section">
                    <a href="mailto:info@htmlstream.com">info@htmlstream.com</a><br>
                    <a href="www.htmlstream.com">www.htmlstream.com</a>         
                </p>
                </div>
            </div>
          </div>
          </div>


      <!-- /.container -->
    </div>
    
            <div class="footer-script">
                <div class="container">
            
            <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-4">
                <p class="bottom-footer-text p-text-border">2019 All right reserved. Site Map</p>
            </div>
            <div class="col-xs-12 col-md-5 col-sm-4 no-padding">
                <p class="bottom-footer-text"><a href="#">Privacy Policy</a></p>
            </div>
             <div class="col-xs-12 col-md-4 col-sm-4 social-block">
                <p class="top-content-inline">Follow us on: </p>
                <div class="social-icons top-content-inline">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
            </div>
            </div>
        
      </div>
    </footer>
     
    <!-- /footer -->

  </body>

  <!-- js -->
  <script src="js/site.all.js"></script>

  

</html>