
     
      <div class="block row">
          
        <div class="col col-md-12">
          <h1 class="page-title">New Component</h1>
          <p class="page-description">Description for a new component.</p>
        </div>
      </div>
    